In [2]:
pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/b7/7e/9e7fff31bc80c300479a4c0bdd8e15298bf85f5a3fba05b2f7268f993456/tabula_py-2.0.4-py3-none-any.whl (10.4MB)
     |████████████████████████████████| 10.4MB 10.0MB/s eta 0:00:01
Requirement already satisfied: numpy in /Users/hyewonchung/opt/anaconda3/lib/python3.7/site-packages (from tabula-py) (1.17.2)
Collecting distro (from tabula-py)
  Downloading https://files.pythonhosted.org/packages/ea/35/82f79b92fa4d937146c660a6482cee4f3dfa1f97ff3d2a6f3ecba33e712e/distro-1.4.0-py2.py3-none-any.whl
Requirement already satisfied: pandas in /Users/hyewonchung/opt/anaconda3/lib/python3.7/site-packages (from tabula-py) (0.25.1)
Requirement already satisfied: pytz>=2017.2 in /Users/hyewonchung/opt/anaconda3/lib/python3.7/site-packages (from pandas->tabula-py) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/hyewonchung/opt/anaconda3/lib/python3.7/site-packages (from pandas->tabula-py) (2.8.0)
Requirement already satisfied: six>=1.5 in /Users/hyewonchung/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->tabula-py) (1.12.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.4.0 tabula-py-2.0.4
Note: you may need to restart the kernel to use updated packages.

In [3]:
import os
import pandas as pd
import numpy as np
import re 
import tabula

In [41]:
df = tabula.read_pdf("2000.pdf", pages='11-12')
t1_00 = df[0]
t2_00 = df[1]

In [42]:
t1_00.head()
t1_00 = t1_00.rename(columns={"Incidents, Offenses, Victims, and Known Offenders": "Bias motivation", "Unnamed: 0": "Offenses", 
                  "Unnamed: 1": "Victims", "Unnamed: 2": "Known Offenders"}) #missing incidents
t1_00 = t1_00.loc[6:30, :]#.set_index('Bias motivation')
t1_00['Bias motivation'] = t1_00['Bias motivation'].str.replace('\d+', '')
t1_00['Bias motivation'] = t1_00['Bias motivation'].str.replace(',', '')

                          Bias motivation Offenses Victims Known Offenders
6                             Anti-White     1,050   1,080           1,169
7                             Anti-Black     3,409   3,535           2,799
8    Anti-American Indian/Alaskan Native        62      64              58
9            Anti-Asian/Pacific Islander       317     339             273
10                Anti-Multiracial Group       333     379             153
11                             Religion:     1,556   1,699             577
12                           Anti-Jewish     1,161   1,269             405
13                         Anti-Catholic        61      63              33
14                       Anti-Protestant        62      62              23
15                          Anti-Islamic        33      36              20
16            Anti-Other Religious Group       187     210              77
17             Anti-Multireligious Group        46      52              18
18         Anti-Atheism/Agnosticism/etc.         6       7               1
19                   Sexual Orientation:     1,486   1,558           1,443
20                  Anti-Male Homosexual     1,023   1,060           1,088
21                Anti-Female Homosexual       211     228             169
22                       Anti-Homosexual       210     226             153
23                     Anti-Heterosexual        22      24              18
24                         Anti-Bisexual        20      20              15
25            Ethnicity/National Origin:     1,164   1,216           1,012
26                         Anti-Hispanic       735     763             694
27  Anti-Other Ethnicity/National Origin       429     453             318
28                           Disability:        36      36              36
29                         Anti-Physical        20      20              22
30                           Anti-Mental        16      16              14

In [13]:
#loading in the dataset 
#table 1 
t1_04 = pd.read_excel('2004/Table1.xls')
t1_05 = pd.read_excel('2005/Table1.xls')
t1_06 = pd.read_excel('2006/Table1.xls')
t1_07 = pd.read_excel('2007/Table1.xls')
t1_08 = pd.read_excel('2008/Table1.xls')
t1_09 = pd.read_excel('2009/Table 1.xls')

#table 2 
t2_04 = pd.read_excel('2004/Table2.xls')
t2_05 = pd.read_excel('2005/Table2.xls')
t2_06 = pd.read_excel('2006/Table2.xls')
t2_07 = pd.read_excel('2007/Table2.xls')
t2_08 = pd.read_excel('2008/Table2.xls')
t2_09 = pd.read_excel('2009/Table 2.xls')

In [88]:
#cleaning table 1
table1 = [t1_04, t1_05, t1_06, t1_07, t1_08, t1_09]
for index, df in enumerate(table1):
    table1[index] = df.rename(columns={"Table 1": "Bias motivation", "Unnamed: 1": "Incidents", "Unnamed: 2": "Offenses", 
                  "Unnamed: 3": "Victims", "Unnamed: 4": "Known Offenders"})
    table1[index] = table1[index].loc[5:30, :].set_index('Bias motivation')
    table1[index] = table1[index].rename(index=lambda s: re.sub(r'\d+$', '', s)) #removing any digits inside the index column 
[t1_04, t1_05, t1_06, t1_07, t1_08, t1_09] = table1

In [89]:
t1_06

,Incidents,Offenses,Victims,Known Offenders
Bias motivation,,,,
Anti-White,890,1008,1054,1074
Anti-Black,2640,3136,3332,2437
Anti-American Indian/Alaskan Native,60,72,75,72
Anti-Asian/Pacific Islander,181,230,239,181
"Anti-Multiple Races, Group",229,291,320,193
Religion:,1462,1597,1750,705
Anti-Jewish,967,1027,1144,362
Anti-Catholic,76,81,86,44
Anti-Protestant,59,62,65,35
Anti-Islamic,156,191,208,147
Anti-Other Religion,124,140,147,63
"Anti-Multiple Religions, Group",73,88,92,49
Anti-Atheism/Agnosticism/etc.,7,8,8,5
Sexual Orientation:,1195,1415,1472,1380
Anti-Male Homosexual,747,881,913,914
Anti-Female Homosexual,163,192,202,154
Anti-Homosexual,238,293,307,268
Anti-Heterosexual,26,28,29,26
Anti-Bisexual,21,21,21,18
Ethnicity/National Origin:,984,1233,1305,1209
Anti-Hispanic,576,770,819,802
Anti-Other Ethnicity/National Origin,408,463,486,407
Disability:,79,94,95,73
Anti-Physical,17,20,21,17
Anti-Mental,62,74,74,56
Multiple-Bias Incidents,2,4,10,6

In [66]:
#dropping rows that are not needed (the totals)
t1_04 = t1_04.drop(t1_04.index[5])
t1_04 = t1_04.drop(t1_04.index[12])
t1_04 = t1_04.drop(t1_04.index[-4])
t1_04 = t1_04.drop(t1_04.index[-6])

t1_05 = t1_05.drop(t1_05.index[5])
t1_05 = t1_05.drop(t1_05.index[12])
t1_05 = t1_05.drop(t1_05.index[-4])
t1_05 = t1_05.drop(t1_05.index[-6])

t1_06 = t1_06.drop(t1_06.index[5])
t1_06 = t1_06.drop(t1_06.index[12])
t1_06 = t1_06.drop(t1_06.index[-4])
t1_06 = t1_06.drop(t1_06.index[-6])

t1_07 = t1_07.drop(t1_07.index[5])
t1_07 = t1_07.drop(t1_07.index[12])
t1_07 = t1_07.drop(t1_07.index[-4])
t1_07 = t1_07.drop(t1_07.index[-6])

t1_08 = t1_08.drop(t1_08.index[5])
t1_08 = t1_08.drop(t1_08.index[12])
t1_08 = t1_08.drop(t1_08.index[-4])
t1_08 = t1_08.drop(t1_08.index[-6])

t1_09 = t1_09.drop(t1_09.index[5])
t1_09 = t1_09.drop(t1_09.index[12])
t1_09 = t1_09.drop(t1_09.index[-4])
t1_09 = t1_09.drop(t1_09.index[-6])

#### Making different subsets from the original table on the types of hate crimes (race, religion, sexual orientation, etc)

In [80]:
race_04 = t1_04[:5]
race_05 = t1_05[:5]
race_06 = t1_06[:5]
race_07 = t1_07[:5]
race_08 = t1_08[:5]
race_09 = t1_09[:5]

In [51]:
religion_04 = t1_04[5:12]
religion_05 = t1_05[5:12]
religion_06 = t1_06[5:12]
religion_07 = t1_07[5:12]
religion_08 = t1_08[5:12]
religion_09 = t1_09[5:12]

In [49]:
sexual_orientation_04 = t1_04[12:17]
sexual_orientation_05 = t1_05[12:17]
sexual_orientation_06 = t1_06[12:17]
sexual_orientation_07 = t1_07[12:17]
sexual_orientation_08 = t1_08[12:17]
sexual_orientation_09 = t1_09[12:17]

In [83]:
ethnicity_04 = t1_04[17:19]
ethnicity_05 = t1_05[17:19]
ethnicity_06 = t1_06[17:19]
ethnicity_07 = t1_07[17:19]
ethnicity_08 = t1_08[17:19]
ethnicity_09 = t1_09[17:19]

In [46]:
disability_04 = t1_04[-3:-1]
disability_05 = t1_05[-3:-1]
disability_06 = t1_06[-3:-1]
disability_07 = t1_07[-3:-1]
disability_08 = t1_08[-3:-1]
disability_09 = t1_09[-3:-1]

In [86]:
ethnicity_sums = [
    ethnicity_04['Victims'].sum(),
    ethnicity_05['Victims'].sum(),
    ethnicity_06['Victims'].sum(),
    ethnicity_07['Victims'].sum(),
    ethnicity_08['Victims'].sum(),
    ethnicity_09['Victims'].sum()
]
total_ethnicity = np.sum(ethnicity_sums)/len(ethnicity_sums)
ethnicity_sums/total_ethnicity

1244.8333333333333

In [ ]:
N = 6
menMeans = (20, 35, 30, 35, 27)
womenMeans = (25, 32, 34, 20, 25)
menStd = (2, 3, 4, 1, 2)
womenStd = (3, 5, 2, 3, 3)
ind = np.arange(N)    # the x locations for the groups
width = 0.35       # the width of the bars: can also be len(x) sequence

p1 = plt.bar(ind, menMeans, width, yerr=menStd)
p2 = plt.bar(ind, womenMeans, width,
             bottom=menMeans, yerr=womenStd)

In [ ]:
#cleaning table 2 
table2 = [t2_04, t2_05, t2_06, t2_07, t2_08, t2_09]
for index, df in enumerate(table2):
    table2[index] = df.rename(columns={"Table 2": "Offense Type", "Unnamed: 1": "Incidents", "Unnamed: 2": "Offenses", 
                  "Unnamed: 3": "Victims", "Unnamed: 4": "Known Offenders"})
    table2[index] = table2[index].loc[4:18, :].set_index('Offense Type')
    table2[index] = table2[index].rename(index=lambda s: re.sub(r'\d+$', '', s)) #removing any digits inside the index column 
[t2_04, t2_05, t2_06, t2_07, t2_08, t2_09] = table2

In [ ]:
crimes_a_persons = t2_04[:6]
crimes_a_property = t2_04[7:14]
crimes_a_society = t2_04[-1:]

In [ ]:
t2_04 = t2_04.drop(t2_04.index[6])
t2_04