https://www.dps.texas.gov/crimereports/16/citCh6.pdf
https://oag.ca.gov/hatecrimes
https://www.crimemapping.com/map/agency/26

In [41]:
import pandas as pd
import numpy as np
import requests
import bs4
import json
import re

In [60]:
offender2004 = pd.read_excel('2004/Table5.xls')
colsoff = ['Bias Motivation', 'Total Offenses', 'White', 'Black', 'American Indian Alaskan Native',
        'Asian/Pacific Islander', 'Multiple Races, Group','Unknown Race', 'Unknown Offender']

In [61]:
offender2004 = offender2004.drop([0, 1, 2, 32])

In [62]:
offender2004.columns = colsoff

In [63]:
offender2004 = offender2004.reset_index(drop=True)
hold2004 = offender2004['Bias Motivation'][28][:-1]
offender2004['Bias Motivation'][28] = hold
offender2004

,Bias Motivation,Total Offenses,White,Black,American Indian Alaskan Native,Asian/Pacific Islander,"Multiple Races, Group",Unknown Race,Unknown Offender
0,Total,9035,3720,1068,41,61,190,852,3103
1,Single-Bias Incidents,9021,3712,1068,41,61,188,852,3099
2,Race:,4863,2234,594,27,33,128,432,1415
3,Anti-White,998,190,499,15,9,25,84,176
4,Anti-Black,3281,1802,63,7,19,88,292,1010
5,Anti-American Indian/Alaskan Native,97,55,3,4,0,3,9,23
6,Anti-Asian/Pacific Islander,252,99,16,1,5,8,34,89
7,"Anti-Multiple Races, Group",235,88,13,0,0,4,13,117
8,Religion:,1480,292,55,7,7,12,164,943
9,Anti-Jewish,1003,151,27,6,6,6,94,713
10,Anti-Catholic,57,11,4,1,0,1,6,34
11,Anti-Protestant,43,10,1,0,0,3,6,23
12,Anti-Islamic,193,86,16,0,0,2,23,66
13,Anti-Other Religion,140,25,4,0,1,0,30,80
14,"Anti-Multiple Religions, Group",37,6,3,0,0,0,4,24
15,Anti-Atheism/Agnosticism/etc.,7,3,0,0,0,0,1,3
16,Sexual Orientation:,1406,590,222,3,9,30,150,402
17,Anti-Male Homosexual,855,376,130,2,9,21,95,222
18,Anti-Female Homosexual,201,78,43,1,0,5,18,56
19,Anti-Homosexual,297,118,39,0,0,2,31,107
20,Anti-Heterosexual,35,11,8,0,0,0,3,13
21,Anti-Bisexual,18,7,2,0,0,2,3,4
22,Ethnicity/National Origin:,1201,574,170,3,12,17,105,320
23,Anti-Hispanic,611,305,108,3,10,8,38,139
24,Anti-Other Ethnicity/National Origin,590,269,62,0,2,9,67,181
25,Disability:,71,22,27,1,0,1,1,19
26,Anti-Physical,23,11,2,0,0,0,0,10
27,Anti-Mental,48,11,25,1,0,1,1,9
28,Multiple-Bias Incidents,14,8,0,0,0,2,0,4

In [53]:
known_offender2004 = pd.read_excel('2004/Table9.xls')
known_offender2004 = known_offender2004.drop([0,8,9]).reset_index(drop=True)
known_offender2004['Table 9'][5] = known_offender2004['Table 9'][5][:-1]
known_offender2004

C:\Users\afong\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                          Table 9  Unnamed: 1
0                           Total      7145.0
1                           White      4327.0
2                           Black      1408.0
3  American Indian/Alaskan Native        48.0
4          Asian/Pacific Islander        70.0
5           Multiple Races, Group       367.0
6                    Unknown Race       925.0

In [58]:
location2004 = pd.read_excel('2004/Table10.xls')
colsloc = ['Location', 'Total Incidents', 'Race', 'Religion', 'Sexual Orientation',
        'Ethnicity/National Origin', 'Disability','Multiple Bias Incidents']

In [59]:
location2004 = location2004.drop([0, 1, 2, 30]).reset_index(drop=True)

In [60]:
location2004.columns = colsloc
location2004

,Location,Total Incidents,Race,Religion,Sexual Orientation,Ethnicity/National Origin,Disability,Multiple Bias Incidents
0,Total,7649,4042,1374,1197,972,57,7
1,Air/bus/train terminal,72,45,11,8,8,0,0
2,Bank/savings and loan,20,8,5,4,2,1,0
3,Bar/nightclub,140,78,5,40,17,0,0
4,Church/synagogue/temple,315,55,236,13,10,0,1
5,Commercial office building,169,85,33,24,25,2,0
6,Construction site,23,13,3,0,7,0,0
7,Convenience store,98,43,11,10,31,3,0
8,Department/discount store,63,38,9,10,5,1,0
9,Drug store/Dr.'s office/hospital,59,27,18,7,7,0,0
10,Field/woods,70,39,15,5,11,0,0
11,Government/public building,110,69,22,7,12,0,0
12,Grocery/supermarket,49,25,4,4,15,1,0
13,Highway/road/alley/street,1402,819,86,298,190,9,0
14,Hotel/motel/etc.,42,21,5,10,6,0,0
15,Jail/prison,54,39,2,3,10,0,0
16,Lake/waterway,13,8,2,0,3,0,0
17,Liquor store,9,3,2,1,3,0,0
18,Parking lot/garage,426,247,46,63,67,1,2
19,Rental storage facility,12,6,1,1,3,1,0
20,Residence/home,2424,1320,366,407,305,25,1
21,Restaurant,147,80,21,23,22,1,0
22,School/college,898,492,184,150,68,2,2
23,Service/gas station,77,30,6,10,31,0,0
24,"Specialty store (TV, fur, etc.)",109,51,27,20,10,1,0
25,Other/unknown,840,397,254,77,103,9,0
26,Multiple locations,8,4,0,2,1,0,1

In [65]:
offender2005 = pd.read_excel('2005/Table5.xls')
offender2005 = offender2005.drop([0, 1, 2, 32])
offender2005.columns = colsoff
offender2005 = offender2005.reset_index(drop=True)
hold2005 = offender2005['Bias Motivation'][28][:-1]
offender2005['Bias Motivation'][28] = hold2005
offender2005

,Bias Motivation,Total Offenses,White,Black,American Indian Alaskan Native,Asian/Pacific Islander,"Multiple Races, Group",Unknown Race,Unknown Offender
0,Total,8380,3585,933,68,44,215,751,2784
1,Single-Bias Incidents,8373,3585,933,68,44,212,749,2782
2,Race:,4691,2205,484,45,22,128,387,1420
3,Anti-White,935,204,368,19,4,22,85,233
4,Anti-Black,3200,1803,87,13,6,84,239,968
5,Anti-American Indian/Alaskan Native,95,40,6,12,0,1,11,25
6,Anti-Asian/Pacific Islander,231,88,11,1,8,11,29,83
7,"Anti-Multiple Races, Group",230,70,12,0,4,10,23,111
8,Religion:,1314,306,42,6,5,11,132,812
9,Anti-Jewish,900,198,9,4,2,6,86,595
10,Anti-Catholic,61,8,4,0,0,0,5,44
11,Anti-Protestant,58,14,0,1,0,1,7,35
12,Anti-Islamic,146,52,20,1,1,2,14,56
13,Anti-Other Religion,102,25,5,0,2,2,16,52
14,"Anti-Multiple Religions, Group",42,9,4,0,0,0,3,26
15,Anti-Atheism/Agnosticism/etc.,5,0,0,0,0,0,1,4
16,Sexual Orientation:,1171,502,220,6,11,35,108,289
17,Anti-Male Homosexual,713,303,141,4,8,22,72,163
18,Anti-Female Homosexual,180,67,33,0,2,7,11,60
19,Anti-Homosexual,228,113,33,2,1,6,19,54
20,Anti-Heterosexual,23,9,6,0,0,0,4,4
21,Anti-Bisexual,27,10,7,0,0,0,2,8
22,Ethnicity/National Origin:,1144,548,179,9,5,35,116,252
23,Anti-Hispanic,660,340,115,3,1,18,50,133
24,Anti-Other Ethnicity/National Origin,484,208,64,6,4,17,66,119
25,Disability:,53,24,8,2,1,3,6,9
26,Anti-Physical,21,9,4,1,1,2,1,3
27,Anti-Mental,32,15,4,1,0,1,5,6
28,Multiple-Bias Incidents,7,0,0,0,0,3,2,2

In [54]:
known_offender2005 = pd.read_excel('2005/Table9.xls')
known_offender2005 = known_offender2005.drop([0,8,9]).reset_index(drop=True)
known_offender2005['Table 9'][5] = known_offender2005['Table 9'][5][:-1]
known_offender2005

C:\Users\afong\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                          Table 9  Unnamed: 1
0                           Total      6804.0
1                           White      4117.0
2                           Black      1357.0
3  American Indian/Alaskan Native        77.0
4          Asian/Pacific Islander        61.0
5           Multiple Races, Group       354.0
6                    Unknown Race       838.0

In [73]:
location2005 = pd.read_excel('2005/Table10.xls')
location2005 = location2005.drop([0, 1, 2, 30]).reset_index(drop=True)
location2005.columns = colsloc
location2005

,Location,Total Incidents,Race,Religion,Sexual Orientation,Ethnicity/National Origin,Disability,Multiple Bias Incidents
0,Total,7163,3919,1227,1017,944,53,3
1,Air/bus/train terminal,55,34,3,5,12,1,0
2,Bank/savings and loan,23,16,6,0,1,0,0
3,Bar/nightclub,138,76,7,31,23,1,0
4,Church/synagogue/temple,310,61,223,11,14,1,0
5,Commercial office building,152,86,29,11,25,1,0
6,Construction site,17,12,1,1,3,0,0
7,Convenience store,101,53,11,11,25,1,0
8,Department/discount store,45,30,8,2,5,0,0
9,Drug store/Dr.'s office/hospital,52,28,13,7,4,0,0
10,Field/woods,72,48,6,7,11,0,0
11,Government/public building,129,70,20,18,21,0,0
12,Grocery/supermarket,62,40,4,6,12,0,0
13,Highway/road/alley/street,1314,778,93,254,183,6,0
14,Hotel/motel/etc.,45,28,5,5,5,2,0
15,Jail/prison,48,27,3,9,9,0,0
16,Lake/waterway,21,8,0,8,5,0,0
17,Liquor store,18,6,2,3,7,0,0
18,Parking lot/garage,471,264,46,69,89,3,0
19,Rental storage facility,7,5,1,1,0,0,0
20,Residence/home,2148,1216,313,328,270,21,0
21,Restaurant,110,59,15,14,19,3,0
22,School/college,967,519,208,123,113,3,1
23,Service/gas station,67,39,7,5,14,2,0
24,"Specialty store (TV, fur, etc.)",78,45,10,11,11,1,0
25,Other/unknown,699,365,191,75,61,7,0
26,Multiple locations,14,6,2,2,2,0,2

In [66]:
offender2006 = pd.read_excel('2006/Table5.xls')
offender2006 = offender2006.drop([0, 1, 2, 32])
offender2006.columns = colsoff
offender2006 = offender2006.reset_index(drop=True)
hold2006 = offender2006['Bias Motivation'][28][:-1]
offender2006['Bias Motivation'][28] = hold2006
offender2006

,Bias Motivation,Total Offenses,White,Black,American Indian Alaskan Native,Asian/Pacific Islander,"Multiple Races, Group",Unknown Race,Unknown Offender
0,Total,9080,3710,1026,66,75,247,891,3065
1,Single-Bias Incidents,9076,3708,1026,66,75,245,891,3065
2,Race:,4737,2110,551,44,34,129,456,1413
3,Anti-White,1008,210,403,25,8,24,114,224
4,Anti-Black,3136,1680,93,9,15,66,263,1010
5,Anti-American Indian/Alaskan Native,72,26,12,8,1,2,5,18
6,Anti-Asian/Pacific Islander,230,101,30,1,7,13,27,51
7,"Anti-Multiple Races, Group",291,93,13,1,3,24,47,110
8,Religion:,1597,333,51,1,15,24,186,987
9,Anti-Jewish,1027,178,15,0,6,11,96,721
10,Anti-Catholic,81,16,7,0,0,1,13,44
11,Anti-Protestant,62,13,2,0,0,0,14,33
12,Anti-Islamic,191,80,15,0,0,5,22,69
13,Anti-Other Religion,140,28,1,0,0,7,25,79
14,"Anti-Multiple Religions, Group",88,17,7,1,9,0,16,38
15,Anti-Atheism/Agnosticism/etc.,8,1,4,0,0,0,0,3
16,Sexual Orientation:,1415,620,241,7,3,56,143,345
17,Anti-Male Homosexual,881,418,153,3,2,31,74,200
18,Anti-Female Homosexual,192,64,31,2,0,8,24,63
19,Anti-Homosexual,293,119,48,2,1,17,38,68
20,Anti-Heterosexual,28,12,3,0,0,0,6,7
21,Anti-Bisexual,21,7,6,0,0,0,1,7
22,Ethnicity/National Origin:,1233,607,163,14,21,36,97,295
23,Anti-Hispanic,770,404,118,14,18,22,43,151
24,Anti-Other Ethnicity/National Origin,463,203,45,0,3,14,54,144
25,Disability:,94,38,20,0,2,0,9,25
26,Anti-Physical,20,4,6,0,0,0,4,6
27,Anti-Mental,74,34,14,0,2,0,5,19
28,Multiple-Bias Incidents,4,2,0,0,0,2,0,0

In [55]:
known_offender2006 = pd.read_excel('2006/Table9.xls')
known_offender2006 = known_offender2006.drop([0,8,9]).reset_index(drop=True)
known_offender2006['Table 9'][5] = known_offender2006['Table 9'][5][:-1]
known_offender2006

C:\Users\afong\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                          Table 9  Unnamed: 1
0                           Total      7330.0
1                           White      4293.0
2                           Black      1513.0
3  American Indian/Alaskan Native        75.0
4          Asian/Pacific Islander        84.0
5           Multiple Races, Group       421.0
6                    Unknown Race       944.0

In [74]:
location2006 = pd.read_excel('2006/Table10.xls')
location2006 = location2006.drop([0, 1, 2, 30]).reset_index(drop=True)
location2006.columns = colsloc
location2006

,Location,Total Incidents,Race,Religion,Sexual Orientation,Ethnicity/National Origin,Disability,Multiple Bias Incidents
0,Total,7722,4000,1462,1195,984,79,2
1,Air/bus/train terminal,48,29,6,3,8,2,0
2,Bank/savings and loan,21,10,6,1,2,1,1
3,Bar/nightclub,161,81,9,51,20,0,0
4,Church/synagogue/temple,304,33,259,8,4,0,0
5,Commercial office building,193,118,34,19,21,1,0
6,Construction site,31,18,5,0,8,0,0
7,Convenience store,92,44,9,7,31,1,0
8,Department/discount store,56,39,6,5,4,2,0
9,Drug store/Dr.'s office/hospital,51,32,12,2,5,0,0
10,Field/woods,87,50,7,12,16,2,0
11,Government/public building,135,74,25,16,19,1,0
12,Grocery/supermarket,57,38,7,5,7,0,0
13,Highway/road/alley/street,1387,780,102,287,205,13,0
14,Hotel/motel/etc.,45,27,2,8,8,0,0
15,Jail/prison,40,27,4,7,2,0,0
16,Lake/waterway,16,8,2,4,1,1,0
17,Liquor store,17,10,1,2,4,0,0
18,Parking lot/garage,474,249,43,87,90,5,0
19,Rental storage facility,9,6,2,1,0,0,0
20,Residence/home,2394,1279,424,380,279,32,0
21,Restaurant,161,79,15,28,36,3,0
22,School/college,941,508,199,116,110,8,0
23,Service/gas station,75,44,13,3,13,2,0
24,"Specialty store (TV, fur, etc.)",68,33,7,13,14,1,0
25,Other/unknown,849,376,261,130,77,4,1
26,Multiple locations,10,8,2,0,0,0,0

In [67]:
offender2007 = pd.read_excel('2007/Table5.xls')
offender2007 = offender2007.drop([0, 1, 2, 32])
offender2007.columns = colsoff
offender2007 = offender2007.reset_index(drop=True)
hold2007 = offender2007['Bias Motivation'][28][:-1]
offender2007['Bias Motivation'][28] = hold2007
offender2007

,Bias Motivation,Total Offenses,White,Black,American Indian Alaskan Native,Asian/Pacific Islander,"Multiple Races, Group",Unknown Race,Unknown Offender
0,Total,9006,3802,1045,75,41,194,600,3249
1,Single-Bias Incidents,8999,3799,1045,75,41,192,600,3247
2,Race:,4724,2171,500,55,19,118,316,1545
3,Anti-White,871,161,394,22,6,21,47,220
4,Anti-Black,3275,1771,79,21,10,67,234,1093
5,Anti-American Indian/Alaskan Native,75,44,3,7,0,0,4,17
6,Anti-Asian/Pacific Islander,219,91,18,1,3,11,13,82
7,"Anti-Multiple Races, Group",284,104,6,4,0,19,18,133
8,Religion:,1477,295,52,3,6,7,105,1009
9,Anti-Jewish,1010,163,17,0,3,3,68,756
10,Anti-Catholic,65,10,2,1,0,2,8,42
11,Anti-Protestant,59,12,3,1,0,0,4,39
12,Anti-Islamic,133,61,16,1,0,1,10,44
13,Anti-Other Religion,140,37,7,0,3,0,10,83
14,"Anti-Multiple Religions, Group",64,10,6,0,0,1,4,43
15,Anti-Atheism/Agnosticism/etc.,6,2,1,0,0,0,1,2
16,Sexual Orientation:,1460,666,268,9,10,52,92,363
17,Anti-Male Homosexual,864,409,153,6,9,25,56,206
18,Anti-Female Homosexual,184,72,51,1,1,4,11,44
19,Anti-Homosexual,362,170,58,2,0,17,23,92
20,Anti-Heterosexual,27,9,2,0,0,5,0,11
21,Anti-Bisexual,23,6,4,0,0,1,2,10
22,Ethnicity/National Origin:,1256,638,212,6,6,14,83,297
23,Anti-Hispanic,775,405,157,3,2,9,38,161
24,Anti-Other Ethnicity/National Origin,481,233,55,3,4,5,45,136
25,Disability:,82,29,13,2,0,1,4,33
26,Anti-Physical,20,11,5,0,0,0,1,3
27,Anti-Mental,62,18,8,2,0,1,3,30
28,Multiple-Bias Incidents,7,3,0,0,0,2,0,2

In [56]:
known_offender2007 = pd.read_excel('2007/Table9.xls')
known_offender2007 = known_offender2007.drop([0,8,9]).reset_index(drop=True)
known_offender2007['Table 9'][5] = known_offender2007['Table 9'][5][:-1]
known_offender2007

C:\Users\afong\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                          Table 9  Unnamed: 1
0                           Total      6965.0
1                           White      4378.0
2                           Black      1448.0
3  American Indian/Alaskan Native        69.0
4          Asian/Pacific Islander        50.0
5           Multiple Races, Group       339.0
6                    Unknown Race       681.0

In [75]:
location2007 = pd.read_excel('2007/Table10.xls')
location2007 = location2007.drop([0, 1, 2, 30]).reset_index(drop=True)
location2007.columns = colsloc
location2007

,Location,Total Incidents,Race,Religion,Sexual Orientation,Ethnicity/National Origin,Disability,Multiple Bias Incidents
0,Total,7624,3870,1400,1265,1007,79,3
1,Air/bus/train terminal,80,45,8,13,12,2,0
2,Bank/savings and loan,13,5,2,4,2,0,0
3,Bar/nightclub,149,65,9,53,22,0,0
4,Church/synagogue/temple,309,43,252,5,9,0,0
5,Commercial office building,167,91,30,20,26,0,0
6,Construction site,36,24,8,2,2,0,0
7,Convenience store,80,40,6,13,21,0,0
8,Department/discount store,61,41,5,5,10,0,0
9,Drug store/Dr.'s office/hospital,57,28,15,6,8,0,0
10,Field/woods,109,55,9,22,22,1,0
11,Government/public building,119,68,28,12,11,0,0
12,Grocery/supermarket,57,25,8,7,17,0,0
13,Highway/road/alley/street,1438,784,108,302,229,14,1
14,Hotel/motel/etc.,37,19,4,10,4,0,0
15,Jail/prison,50,38,1,5,6,0,0
16,Lake/waterway,11,7,0,3,1,0,0
17,Liquor store,17,8,1,1,7,0,0
18,Parking lot/garage,454,231,48,84,87,4,0
19,Rental storage facility,5,3,1,0,0,1,0
20,Residence/home,2329,1256,363,381,297,30,2
21,Restaurant,161,88,9,28,33,3,0
22,School/college,859,468,170,135,81,5,0
23,Service/gas station,75,37,11,6,17,4,0
24,"Specialty store (TV, fur, etc.)",67,33,11,11,12,0,0
25,Other/unknown,875,364,291,135,70,15,0
26,Multiple locations,9,4,2,2,1,0,0

In [68]:
offender2008 = pd.read_excel('2008/Table5.xls')
offender2008 = offender2008.drop([0, 1, 2, 32])
offender2008.columns = colsoff
offender2008 = offender2008.reset_index(drop=True)
hold2008 = offender2008['Bias Motivation'][28][:-1]
offender2008['Bias Motivation'][28] = hold2008
offender2008

,Bias Motivation,Total Offenses,White,Black,American Indian Alaskan Native,Asian/Pacific Islander,"Multiple Races, Group",Unknown Race,Unknown Offender
0,Total,9168,3752,1092,33,72,215,694,3310
1,Single-Bias Incidents,9160,3746,1092,33,72,213,694,3310
2,Race:,4704,2107,542,18,28,108,339,1562
3,Anti-White,812,162,353,6,7,27,69,188
4,Anti-Black,3413,1771,147,7,12,64,235,1177
5,Anti-American Indian/Alaskan Native,59,30,4,4,0,4,4,13
6,Anti-Asian/Pacific Islander,162,58,15,1,7,7,14,60
7,"Anti-Multiple Races, Group",258,86,23,0,2,6,17,124
8,Religion:,1606,318,53,2,7,21,140,1065
9,Anti-Jewish,1055,176,20,1,4,14,80,760
10,Anti-Catholic,75,14,1,0,0,0,9,51
11,Anti-Protestant,60,11,2,0,1,1,11,34
12,Anti-Islamic,123,53,21,0,0,1,10,38
13,Anti-Other Religion,212,51,3,1,1,5,24,127
14,"Anti-Multiple Religions, Group",67,13,5,0,0,0,6,43
15,Anti-Atheism/Agnosticism/etc.,14,0,1,0,1,0,0,12
16,Sexual Orientation:,1617,736,285,8,23,56,130,379
17,Anti-Male Homosexual,948,422,171,5,17,42,81,210
18,Anti-Female Homosexual,194,77,45,0,3,5,16,48
19,Anti-Homosexual,415,212,57,3,3,9,31,100
20,Anti-Heterosexual,33,13,6,0,0,0,0,14
21,Anti-Bisexual,27,12,6,0,0,0,2,7
22,Ethnicity/National Origin:,1148,547,203,5,14,26,79,274
23,Anti-Hispanic,735,367,159,4,12,10,29,154
24,Anti-Other Ethnicity/National Origin,413,180,44,1,2,16,50,120
25,Disability:,85,38,9,0,0,2,6,30
26,Anti-Physical,28,16,5,0,0,0,4,3
27,Anti-Mental,57,22,4,0,0,2,2,27
28,Multiple-Bias Incidents,8,6,0,0,0,2,0,0

In [57]:
known_offender2008 = pd.read_excel('2008/Table9.xls')
known_offender2008 = known_offender2008.drop([0,8,9]).reset_index(drop=True)
known_offender2008['Table 9'][5] = known_offender2008['Table 9'][5][:-1]
known_offender2008

C:\Users\afong\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                          Table 9  Unnamed: 1
0                           Total      6927.0
1                           White      4229.0
2                           Black      1399.0
3  American Indian/Alaskan Native        51.0
4          Asian/Pacific Islander        79.0
5           Multiple Races, Group       409.0
6                    Unknown Race       760.0

In [76]:
location2008 = pd.read_excel('2008/Table10.xls')
location2008 = location2008.drop([0, 1, 2, 30]).reset_index(drop=True)
location2008.columns = colsloc
location2008

,Location,Total Incidents,Race,Religion,Sexual Orientation,Ethnicity/National Origin,Disability,Multiple Bias Incidents
0,Total,7783,3992,1519,1297,894,78,3
1,Air/bus/train terminal,74,36,17,8,12,1,0
2,Bank/savings and loan,18,10,5,1,1,1,0
3,Bar/nightclub,142,64,6,57,15,0,0
4,Church/synagogue/temple,326,26,286,7,7,0,0
5,Commercial office building,129,72,34,11,11,1,0
6,Construction site,16,8,3,0,5,0,0
7,Convenience store,100,49,19,11,20,1,0
8,Department/discount store,72,43,9,8,11,1,0
9,Drug store/Dr.'s office/hospital,58,29,15,4,9,1,0
10,Field/woods,97,51,20,17,9,0,0
11,Government/public building,130,65,32,18,13,2,0
12,Grocery/supermarket,50,27,9,5,8,1,0
13,Highway/road/alley/street,1354,763,123,259,197,10,2
14,Hotel/motel/etc.,44,31,4,4,5,0,0
15,Jail/prison,61,44,2,7,8,0,0
16,Lake/waterway,8,2,1,5,0,0,0
17,Liquor store,10,5,2,2,1,0,0
18,Parking lot/garage,473,240,38,118,76,1,0
19,Rental storage facility,7,5,1,1,0,0,0
20,Residence/home,2480,1352,363,439,287,38,1
21,Restaurant,168,86,18,33,29,2,0
22,School/college,907,498,215,133,58,3,0
23,Service/gas station,68,42,5,7,14,0,0
24,"Specialty store (TV, fur, etc.)",57,31,12,4,10,0,0
25,Other/unknown,927,407,280,138,87,15,0
26,Multiple locations,7,6,0,0,1,0,0

In [69]:
offender2009 = pd.read_excel('2009/Table 5.xls')
offender2009 = offender2009.drop([0, 1, 2, 32])
offender2009.columns = colsoff
offender2009 = offender2009.reset_index(drop=True)
hold2009 = offender2009['Bias Motivation'][28][:-1]
offender2009['Bias Motivation'][28] = hold2009
offender2009

,Bias Motivation,Total Offenses,White,Black,American Indian Alaskan Native,Asian/Pacific Islander,"Multiple Races, Group",Unknown Race,Unknown Offender
0,Total,7789,3398,837,60,47,228,571,2648
1,Single-Bias Incidents,7775,3390,837,60,47,226,569,2646
2,Race:,3816,1844,392,34,16,103,274,1153
3,Anti-White,652,147,304,16,2,22,50,111
4,Anti-Black,2724,1503,63,6,10,62,192,888
5,Anti-American Indian/Alaskan Native,84,53,5,6,3,5,2,10
6,Anti-Asian/Pacific Islander,147,72,11,2,1,4,9,48
7,"Anti-Multiple Races, Group",209,69,9,4,0,10,21,96
8,Religion:,1376,281,54,1,12,18,120,890
9,Anti-Jewish,964,165,29,1,9,8,76,676
10,Anti-Catholic,55,15,2,0,2,0,5,31
11,Anti-Protestant,40,5,0,0,1,0,12,22
12,Anti-Islamic,128,49,18,0,0,4,10,47
13,Anti-Other Religion,119,29,3,0,0,1,9,77
14,"Anti-Multiple Religions, Group",60,12,2,0,0,5,7,34
15,Anti-Atheism/Agnosticism/etc.,10,6,0,0,0,0,1,3
16,Sexual Orientation:,1436,663,268,9,9,63,100,324
17,Anti-Male Homosexual,798,375,162,7,4,37,55,158
18,Anti-Female Homosexual,216,94,41,1,2,14,16,48
19,Anti-Homosexual,376,172,61,1,3,12,24,103
20,Anti-Heterosexual,21,10,2,0,0,0,2,7
21,Anti-Bisexual,25,12,2,0,0,0,3,8
22,Ethnicity/National Origin:,1050,562,114,16,9,39,75,235
23,Anti-Hispanic,654,364,79,13,7,25,41,125
24,Anti-Other Ethnicity/National Origin,396,198,35,3,2,14,34,110
25,Disability:,97,40,9,0,1,3,0,44
26,Anti-Physical,25,14,2,0,0,2,0,7
27,Anti-Mental,72,26,7,0,1,1,0,37
28,Multiple-Bias Incidents,14,8,0,0,0,2,2,2

In [59]:
known_offender2009 = pd.read_excel('2009/Table 9.xls')
known_offender2009 = known_offender2009.drop([0,8,9]).reset_index(drop=True)
known_offender2009['Table 9'][5] = known_offender2009['Table 9'][5][:-1]
known_offender2009

C:\Users\afong\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                          Table 9  Unnamed: 1
0                           Total      6225.0
1                           White      3885.0
2                           Black      1150.0
3  American Indian/Alaskan Native        60.0
4          Asian/Pacific Islander        45.0
5           Multiple Races, Group       453.0
6                    Unknown Race       632.0

In [78]:
location2009 = pd.read_excel('2009/Table 10.xls')
location2009 = location2009.drop([0, 1, 2, 30]).reset_index(drop=True)
location2009.columns = colsloc
location2009

,Location,Total Incidents,Race,Religion,Sexual Orientation,Ethnicity/National Origin,Disability,Multiple Bias Incidents
0,Total,6604,3199,1303,1223,777,96,6
1,Air/bus/train terminal,55,29,9,13,2,2,0
2,Bank/savings and loan,8,3,1,2,1,1,0
3,Bar/nightclub,133,59,2,62,10,0,0
4,Church/synagogue/temple,283,41,229,9,2,2,0
5,Commercial office building,123,55,38,16,11,3,0
6,Construction site,13,6,3,1,3,0,0
7,Convenience store,64,32,9,5,18,0,0
8,Department/discount store,59,37,10,8,4,0,0
9,Drug store/Doctor's office/hospital,50,27,16,2,5,0,0
10,Field/woods,95,59,10,11,12,3,0
11,Government/public building,108,60,23,12,12,1,0
12,Grocery/supermarket,44,24,6,2,11,1,0
13,Highway/road/alley/street,1135,602,92,261,169,11,0
14,Hotel/motel/etc.,35,21,2,6,6,0,0
15,Jail/prison,48,28,5,10,4,1,0
16,Lake/waterway,12,5,0,4,3,0,0
17,Liquor store,12,6,1,1,4,0,0
18,Parking lot/garage,403,212,36,84,64,7,0
19,Rental storage facility,7,5,1,0,1,0,0
20,Residence/home,2070,1064,324,381,253,46,2
21,Restaurant,107,53,10,27,16,0,1
22,School/college,754,396,168,123,64,2,1
23,Service/gas station,42,17,2,7,15,1,0
24,"Specialty store (TV, fur, etc.)",64,31,19,8,6,0,0
25,Other/unknown,877,327,287,168,80,15,0
26,Multiple locations,3,0,0,0,1,0,2