In [62]:
import pandas as pd
import numpy as np
import matplotlib as plt
import os

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split

from sklearn import metrics

In [2]:
df = pd.read_stata('2005_ML/DS0002/23441-0002-Data.dta', columns=['ORI','CITY','STATECOD','REGION','JUDDIST','POP1','MASTERYR','BIASMO1','LOCCOD1','QUARTER'])

In [3]:
#dropping columns with NaN's 
df = df.dropna(axis = 1)

In [4]:
list_comp = df['BIASMO1'].unique().tolist()

In [5]:
anti_race = ['Anti-Black',
            'Anti-Am Indian',
            'Anti-Asian',
            'Anti-White',
            'Anti-Other ethnicity',
            'Anti-Multi-Racial',
            'Anti-Hispanic']

anti_sexual = ['Anti-Male Homosexual',
                'Anti-Bisexual',
                'Anti-Homosexual (both)',
                'Anti-Heterosexual',
                'Anti-Female Homosexual']

anti_religion = ['Anti-Catholic',
                'Anti-Islamic',
                'Anti-Protestant',
                'Anti-Jewish',
                'Anti-Atheism/Agnosticism',
                'Anti-Multi-Religious',
                'Anti-Other Religion']

anti_handicap = ['Anti-Physical Disability', 'Anti-Mental Disability']

df['BIASMO1'] = df['BIASMO1'].replace(dict.fromkeys(anti_race,'Anti-Race'))
df['BIASMO1'] = df['BIASMO1'].replace(dict.fromkeys(anti_sexual,'Anti-Sexual Orientation'))
df['BIASMO1'] = df['BIASMO1'].replace(dict.fromkeys(anti_religion,'Anti-Religion'))
df['BIASMO1'] = df['BIASMO1'].replace(dict.fromkeys(anti_handicap,'Anti-Disability'))
df

,ORI,CITY,STATECOD,REGION,JUDDIST,POP1,MASTERYR,BIASMO1,LOCCOD1,QUARTER
0,AK0010100,ANCHORAGE,AK,West,020A,276109,2005,Anti-Race,Highway/road/alley,Apr to Jun
1,AK0010100,ANCHORAGE,AK,West,020A,276109,2005,Anti-Race,Other/unknown,Jul to Sep
2,AK0010100,ANCHORAGE,AK,West,020A,276109,2005,Anti-Race,Highway/road/alley,Jul to Sep
3,AK0010100,ANCHORAGE,AK,West,020A,276109,2005,Anti-Race,Parking lot/garage,Jul to Sep
4,AR0010200,STUTTGART,AR,South,030E,9467,2005,Anti-Race,Grocery/supermarket,Jul to Sep
...,...,...,...,...,...,...,...,...,...,...
7158,WV0410100,BECKLEY,WV,South,435S,17008,2005,Anti-Race,Parking lot/garage,Oct to Dec
7159,WV0540000,PARKERSBURG,WV,South,435S,41261,2005,Anti-Race,Highway/road/alley,Apr to Jun
7160,WY0090100,THERMOPOLIS,WY,West,450A,2969,2005,Anti-Race,Drug store/dr office/hosp,Jan to Mar
7161,WY0150000,CODY,WY,West,450A,12283,2005,Anti-Religion,Residence/home,Jan to Mar
7162,WY0180000,PINEDALE,WY,West,450A,6690,2005,Anti-Sexual Orientation,Residence/home,Apr to Jun

In [6]:
df2 = pd.read_stata('2006_ML/DS0002/22406-0002-Data.dta', columns=['ORI','CITY','STATECOD','REGION','JUDDIST','POP1','MASTERYR','BIASMO1','LOCCOD1','QUARTER'])
df2 = df2.dropna(axis = 1)
df2['BIASMO1'] = df2['BIASMO1'].replace(dict.fromkeys(anti_race,'Anti-Race'))
df2['BIASMO1'] = df2['BIASMO1'].replace(dict.fromkeys(anti_sexual,'Anti-Sexual Orientation'))
df2['BIASMO1'] = df2['BIASMO1'].replace(dict.fromkeys(anti_religion,'Anti-Religion'))
df2['BIASMO1'] = df2['BIASMO1'].replace(dict.fromkeys(anti_handicap,'Anti-Disability'))
df2

,ORI,CITY,STATECOD,REGION,JUDDIST,POP1,MASTERYR,BIASMO1,LOCCOD1,QUARTER
0,AK0010100,ANCHORAGE,AK,West,020A,277692,2006,Anti-Sexual Orientation,Highway/road/alley,Apr to Jun
1,AK0010100,ANCHORAGE,AK,West,020A,277692,2006,Anti-Race,Highway/road/alley,Apr to Jun
2,AK0010100,ANCHORAGE,AK,West,020A,277692,2006,Anti-Race,School/college,Apr to Jun
3,AK0010100,ANCHORAGE,AK,West,020A,277692,2006,Anti-Race,Bar,Jul to Sep
4,AK0010100,ANCHORAGE,AK,West,020A,277692,2006,Anti-Sexual Orientation,Parking lot/garage,Jul to Sep
...,...,...,...,...,...,...,...,...,...,...
7721,WY0010100,LARAMIE,WY,West,450A,26342,2006,Anti-Race,School/college,Jul to Sep
7722,WY0010100,LARAMIE,WY,West,450A,26342,2006,Anti-Sexual Orientation,Bar,Oct to Dec
7723,WY0030000,GILLETTE,WY,West,450A,14885,2006,Anti-Race,Bar,Oct to Dec
7724,WY0040200,SARATOGA,WY,West,450A,1733,2006,Anti-Race,School/college,Apr to Jun
7725,WY0130100,CASPER,WY,West,450A,52318,2006,Anti-Sexual Orientation,Residence/home,Jan to Mar

In [7]:
df3 = pd.read_stata('2007_ML/DS0002/25107-0002-Data.dta', columns=['ORI','CITY','STATECOD','REGION','JUDDIST','POP1','MASTERYR','BIASMO1','LOCCOD1','QUARTER'])
df3 = df3.dropna(axis = 1)
df3['BIASMO1'] = df3['BIASMO1'].replace(dict.fromkeys(anti_race,'Anti-Race'))
df3['BIASMO1'] = df3['BIASMO1'].replace(dict.fromkeys(anti_sexual,'Anti-Sexual Orientation'))
df3['BIASMO1'] = df3['BIASMO1'].replace(dict.fromkeys(anti_religion,'Anti-Religion'))
df3['BIASMO1'] = df3['BIASMO1'].replace(dict.fromkeys(anti_handicap,'Anti-Disability'))
df3['BIASMO1'].unique()

array(['Anti-Disability', 'Anti-Race', 'Anti-Sexual Orientation',
       'Anti-Religion'], dtype=object)

In [8]:
df4 = pd.read_stata('2008_ML/DS0002/27645-0002-Data.dta', columns=['ORI','CITY','STATECOD','REGION','JUDDIST','POP1','MASTERYR','BIASMO1','LOCCOD1','QUARTER'])
df4 = df4.dropna(axis = 1)
df4['BIASMO1'] = df4['BIASMO1'].replace(dict.fromkeys(anti_race,'Anti-Race'))
df4['BIASMO1'] = df4['BIASMO1'].replace(dict.fromkeys(anti_sexual,'Anti-Sexual Orientation'))
df4['BIASMO1'] = df4['BIASMO1'].replace(dict.fromkeys(anti_religion,'Anti-Religion'))
df4['BIASMO1'] = df4['BIASMO1'].replace(dict.fromkeys(anti_handicap,'Anti-Disability'))
df4['BIASMO1'].unique()

array(['Anti-Sexual Orientation', 'Anti-Race', 'Anti-Religion',
       'Anti-Disability'], dtype=object)

In [9]:
df5 = pd.read_stata('2009_ML/DS0002/30764-0002-Data.dta', columns=['ORI','CITY','STATECOD','REGION','JUDDIST','POP1','MASTERYR','BIASMO1','LOCCOD1','QUARTER'])
df5 = df5.dropna(axis = 1)
df5['BIASMO1'] = df5['BIASMO1'].replace(dict.fromkeys(anti_race,'Anti-Race'))
df5['BIASMO1'] = df5['BIASMO1'].replace(dict.fromkeys(anti_sexual,'Anti-Sexual Orientation'))
df5['BIASMO1'] = df5['BIASMO1'].replace(dict.fromkeys(anti_religion,'Anti-Religion'))
df5['BIASMO1'] = df5['BIASMO1'].replace(dict.fromkeys(anti_handicap,'Anti-Disability'))
df5['BIASMO1'].unique()

array(['Anti-Race', 'Anti-Sexual Orientation', 'Anti-Religion',
       'Anti-Disability'], dtype=object)

In [10]:
combined_df = pd.concat([df,df2,df3,df4,df5]).reset_index(drop=True)

In [11]:
from sklearn.base import BaseEstimator, TransformerMixin

class StdScalerByGroup(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    
    def fit(self, X, y=None):
        """
        :Example:
        >>> cols = {'g': ['A', 'A', 'B', 'B'], 'c1': [1, 2, 2, 2], 'c2': [3, 1, 2, 0]}
        >>> X = pd.DataFrame(cols)
        >>> std = StdScalerByGroup().fit(X)
        >>> std.grps_ is not None
        True
        """
        # X may not be a pandas dataframe (e.g. a np.array)
        df = pd.DataFrame(X)
        mean_df = df.groupby(df.columns[0]).mean()
        std_df = df.groupby(df.columns[0]).std()
        
        # A dictionary of means/standard-deviations for each column, for each group.
        self.grps_ = [mean_df, std_df]
        return self

    def transform(self, X, y=None):
        """
        :Example:
        >>> cols = {'g': ['A', 'A', 'B', 'B'], 'c1': [1, 2, 3, 4], 'c2': [1, 2, 3, 4]}
        >>> X = pd.DataFrame(cols)
        >>> std = StdScalerByGroup().fit(X)
        >>> out = std.transform(X)
        >>> out.shape == (4, 2)
        True
        >>> np.isclose(out.abs(), 0.707107, atol=0.001).all().all()
        True
        """
        try:
            getattr(self, "grps_")
        except AttributeError:
            raise RuntimeError("You must fit the transformer before tranforming the data!")
        
        # X may not be a dataframe (e.g. np.array)
        df = pd.DataFrame(X)
        
        grouped_mean = self.grps_[0]
        grouped_std = self.grps_[1]
        numerator = (df.set_index(df.columns[0])-grouped_mean.reindex(df[df.columns[0]])).reset_index()
        z_score = (numerator.set_index(df.columns[0])/grouped_std.reindex(df[df.columns[0]])).reset_index()
        return z_score.set_index(z_score.columns[0])

In [50]:
def titanic_model(titanic):
    """
    :Example:
    >>> fp = os.path.join('data', 'titanic.csv')
    >>> data = pd.read_csv(fp)
    >>> pl = titanic_model(data)
    >>> isinstance(pl, Pipeline)
    True
    >>> from sklearn.base import BaseEstimator
    >>> isinstance(pl.steps[-1][-1], BaseEstimator)
    True
    >>> preds = pl.predict(data.drop('Survived', axis=1))
    >>> ((preds == 0)|(preds == 1)).all()
    True
    """

    from sklearn.ensemble import RandomForestClassifier
    from sklearn.naive_bayes import GaussianNB
    from sklearn.datasets import load_iris
    
    def prefix(col):
        col = col.iloc[:,0]
        return np.array(col.str.split().str[:1].str[0]).reshape(-1,1)
    
    #X, y = load_iris(return_X_y=True)
    x_value = titanic.drop(columns=['BIAS MOTIVATION'])
    y_value = titanic['BIAS MOTIVATION']
    x_train, x_test, y_train, y_test = train_test_split(x_value, y_value, test_size=0.25)
    #x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

    #name_feat = ['Name']
    #name_tran = Pipeline([
        #('title', FunctionTransformer(prefix, validate=False)),
        #('onehot', OneHotEncoder(handle_unknown='ignore'))
    #])

    #p_feat = ['Pclass', 'Age']
    #p_tran = Pipeline([
    #    ('standard unit', StdScalerByGroup())
    #])

    #cat_feat = ['ORI','CITY','STATECOD','REGION','JUDDIST','POP1','MASTERYR','LOCCOD1','QUARTER']
    cat_feat = ['AGENCY IDENTIFIER','CITY','STATE','REGION','JUDICIAL DISTRICT','POPULATION',\
                'YEAR','QUARTER','LOCATION']
    cat_tran = Pipeline([
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ])

    # preprocessing pipeline (put them together)
    pre = ColumnTransformer(transformers=[('cat', cat_tran, cat_feat)], remainder='passthrough')

    comb = Pipeline([('preprocessor', pre), ('rfc', RandomForestClassifier(n_estimators=180,min_samples_leaf=3))])
    #comb = Pipeline([('preprocessor', pre), ('gnb', GaussianNB())])
    comb.fit(x_train,y_train)
    return comb, x_test, y_test
    #gnb = GaussianNB()
    #y_pred = gnb.fit(x_train, y_train).predict(x_test)
    #return y_pred

In [65]:
combinedDatatables = pd.read_csv('combinedDatatables.csv')
combinedDatatables[combinedDatatables['JUDICIAL DISTRICT'].isna()]#.value_counts() #= combinedDatatables.dropna(axis = 1)
combinedDatatables[combinedDatatables['BIAS MOTIVATION'].isna()]['YEAR'].value_counts()
combinedDatatables = combinedDatatables.dropna()
combinedDatatables.groupby('YEAR')['BIAS MOTIVATION'].value_counts()#.plot(kind='bar')

AttributeError: 'Series' object has no attribute 'columns'

In [52]:
p1,x_test,y_test = titanic_model(combinedDatatables)

In [53]:
y_pred = p1.predict(x_test)

In [57]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6667771333885667

In [54]:
p1.score(combinedDatatables.drop('BIAS MOTIVATION', axis=1),combinedDatatables['BIAS MOTIVATION'])

0.671792407496396

In [76]:
p2,x2_test,y2_test = titanic_model(combinedDatatables)
y2_pred = p2.predict(x2_test)
print("Accuracy:",metrics.accuracy_score(y2_test, y2_pred))

KeyError: "['BIAS MOTIVATION'] not found in axis"