In [47]:
import pandas
import re 
table_5_2018 = pandas.read_excel('Table_5_Offenses_Known_Offenders_Race_and_Ethnicity_by_Bias_Motivation_2018.xls')
new_5_2018 =table_5_2018.rename(columns = {'Table 5' : 'Bias Motivation'}).rename(columns = {'Unnamed: 1' : 'Total Offenses'}).rename(columns = {'Unnamed: 2' : "White"}).rename(columns = {'Unnamed: 3' : 'Black or African American'}).rename(columns = {'Unnamed: 4' : 'American Indian or Alaska Native'}).rename(columns = {'Unnamed: 5' : 'Asian'}).rename(columns = {'Unnamed: 6' : 'Native Hawaiian or Other Pacific Islander'}).rename(columns = {'Unnamed: 7': 'Group of Multiple Races'}).rename(columns= {'Unnamed: 8': 'Unknown Race'}).rename(columns = {'Unnamed: 9' : 'Hispanic or Latino'}).rename(columns = {'Unnamed: 10' : 'Not Hispanic or Latino'}).rename(columns = {'Unnamed: 11' : 'Group of multiple ethnicites'}).rename(columns = {'Unnamed: 12' : 'Unknown Ethnicity'}).rename(columns = {'Unnamed: 13' : 'Unknown Offender'}).drop(0).drop(1).drop(2).drop(3).drop(4).drop(48).drop(49)
new_5_2018 = new_5_2018.reset_index(drop=True)
hold= new_5_2018['Bias Motivation'][42][:-2]
new_5_2018['Bias Motivation'][42] = hold
new_5_2018

,Bias Motivation,Total Offenses,White,Black or African American,American Indian or Alaska Native,Asian,Native Hawaiian or Other Pacific Islander,Group of Multiple Races,Unknown Race,Hispanic or Latino,Not Hispanic or Latino,Group of multiple ethnicites,Unknown Ethnicity,Unknown Offender
0,Total,8496,3511,1605,64,95,19,285,718,412,1847,51,3065,2199
1,Single-Bias Incidents,8327,3462,1536,64,93,19,282,714,402,1765,49,3032,2157
2,Race/Ethnicity/Ancestry:,4954,2309,907,46,62,9,185,276,218,1180,27,1939,1160
3,Anti-White,1001,252,492,20,6,1,23,36,40,287,12,431,171
4,Anti-Black or African American,2325,1330,115,16,34,3,100,149,106,491,7,918,578
5,Anti-American Indian or Alaska Native,204,106,27,1,2,0,7,2,8,39,0,97,59
6,Anti-Asian,171,70,33,0,14,2,4,6,8,42,0,59,42
7,Anti-Native Hawaiian or Other Pacific Islander,26,8,11,0,0,2,0,0,0,13,0,7,5
8,"Anti-Multiple Races, Group",166,45,8,0,2,0,15,11,2,22,3,42,85
9,Anti-Arab,100,62,17,0,1,0,1,4,3,29,0,40,15
10,Anti-Hispanic or Latino,644,322,152,8,2,1,24,47,41,212,1,240,88
11,Anti-Other Race/Ethnicity/Ancestry,317,114,52,1,1,0,11,21,10,45,4,105,117
12,Religion:,1550,439,122,6,16,6,30,306,28,193,10,360,625
13,Anti-Jewish,896,179,41,1,7,0,14,258,7,82,3,143,396
14,Anti-Catholic,59,26,3,1,1,0,0,5,3,10,0,16,23
15,Anti-Protestant,38,13,3,0,0,0,2,1,2,3,0,14,19
16,Anti-Islamic (Muslim),225,98,32,0,5,0,6,22,7,31,4,88,62
17,Anti-Other Religion,96,31,12,0,1,5,2,8,2,11,0,33,37
18,"Anti-Multiple Religions, Group",50,12,6,0,0,0,0,3,0,2,0,15,29
19,Anti-Mormon,9,4,0,0,0,1,0,0,0,1,0,2,4
20,Anti-Jehovah's Witness,9,3,0,1,0,0,0,0,1,2,0,1,5
21,"Anti-Eastern Orthodox (Russian, Greek, Other)",32,19,4,1,0,0,0,1,1,12,0,12,7
22,Anti-Other Christian,42,11,5,0,1,0,5,5,2,8,0,8,15
23,Anti-Buddhist,10,4,3,0,1,0,0,0,0,7,0,1,2
24,Anti-Hindu,14,8,1,0,0,0,0,3,1,2,0,8,2
25,Anti-Sikh,64,30,10,2,0,0,1,0,2,21,3,17,21
26,Anti-Atheism/Agnosticism/etc.,6,1,2,0,0,0,0,0,0,1,0,2,3
27,Sexual Orientation:,1404,535,380,11,12,4,56,110,130,299,11,531,296
28,Anti-Gay (Male),839,307,245,6,6,3,39,83,94,205,9,284,150
29,Anti-Lesbian,171,80,36,0,2,0,5,7,18,35,1,60,41
30,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",353,128,92,5,4,1,12,19,18,53,1,167,92
31,Anti-Heterosexual,20,14,1,0,0,0,0,0,0,2,0,12,5
32,Anti-Bisexual,21,6,6,0,0,0,0,1,0,4,0,8,8
33,Disability:,177,92,37,1,3,0,3,4,8,37,1,92,37
34,Anti-Physical,67,30,15,0,2,0,1,1,4,9,1,33,18
35,Anti-Mental,110,62,22,1,1,0,2,3,4,28,0,59,19
36,Gender:,58,30,14,0,0,0,1,0,1,9,0,32,13
37,Anti-Male,26,13,8,0,0,0,1,0,1,8,0,13,4
38,Anti-Female,32,17,6,0,0,0,0,0,0,1,0,19,9
39,Gender Identity:,184,57,76,0,0,0,7,18,17,47,0,78,26
40,Anti-Transgender,157,50,65,NaN,NaN,NaN,7,16,17,36,0,72,19
41,Anti-Gender Non-Conforming,27,7,11,0,0,0,0,2,0,11,0,6,7
42,Multiple-Bias Incident,169,49,69,0,2,0,3,4,10,82,2,33,42

In [58]:
table_9_2018 =pandas.read_excel('Table_9_Known_Offenders_Known_Offenders_Race_Ethnicity_and_Age_2018.xls')
table_2018_9 = table_9_2018.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'], axis =1).rename(columns = {'Table 9':'Known Offenders'}).rename(columns = {'Unnamed: 1' : 'Total'}).drop(0).drop(1).drop(2).drop(19).drop(20).drop(21).drop(22).drop(23).drop(24)
table_2018_9

hold= table_2018_9['Bias Motivation'][42][:-2]
table_2018_9['Bias Motivation'][42] = hold
new_5_2018

                              Known Offenders Total
3                                        Race  6266
4                                       White  3359
5                   Black or African American  1506
6            American Indian or Alaska Native    60
7                                       Asian    80
8   Native Hawaiian or Other Pacific Islander    19
9                    Group of Multiple Races2   432
10                               Unknown Race   810
11                                Ethnicity3   5349
12                         Hispanic or Latino   477
13                     Not Hispanic or Latino  1601
14             Group of Multiple Ethnicities4    88
15                          Unknown Ethnicity  3183
16                                       Age3  5589
17          Total known offenders 18 and over  4734
18             Total known offenders under 18   855

In [26]:
table_10_2018 =pandas.read_excel('Table_10_Incidents_Bias_Motivation_by_Location_2018.xls')
table_10_2018.rename(columns ={'Table 10': 'Location'}).rename(columns = {'Unnamed: 1' : 'Total Incidents'}).rename(columns = {'Unnamed: 2' : 'Race/Ethnicity/Ancestry'}).rename(columns = {'Unnamed: 3' : 'Religion'}).rename(columns = {'Unnamed: 4' : 'Sexual Orientation'}).rename(columns = {'Unnamed: 5' : 'Disability'}).rename(columns = {'Unnamed: 6' : 'Gender'}).rename(columns = {'Unnamed: 7' : 'Gender Identity'}).rename(columns = {'Unnamed: 8' : 'Multiple Bias Incidents'}).drop(0).drop(1).drop(2).drop(53).drop(54).drop(3).drop(4).drop(columns =['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11'])

,Location,Total Incidents,Race/Ethnicity/Ancestry,Religion,Sexual Orientation,Disability,Gender,Gender Identity,Multiple Bias Incidents
5,Total,7120,4047,1419,1196,159,47,168,84
6,Abandoned/condemned structure,4,3,1,0,0,0,0,0
7,Air/bus/train terminal,113,67,2,34,1,1,6,2
8,Amusement park,3,2,0,0,0,0,1,0
9,Arena/stadium/fairgrounds/coliseum,7,2,1,3,0,0,1,0
10,ATM separate from bank,2,1,0,0,0,0,1,0
11,Auto dealership new/used,8,5,1,2,0,0,0,0
12,Bank/savings and loan,28,14,8,2,3,0,1,0
13,Bar/nightclub,119,53,3,59,1,0,2,1
14,Camp/campground,4,4,0,0,0,0,0,0
15,Church/synagogue/temple/mosque,263,29,219,12,0,0,0,3
16,Commercial office building,145,97,22,16,1,3,4,2
17,Community center,20,8,5,4,1,0,1,1
18,Construction site,20,13,4,2,0,0,0,1
19,Convenience store,141,100,13,19,4,0,5,0
20,Cyberspace,23,15,4,2,1,0,0,1
21,Daycare facility,2,2,0,0,0,0,0,0
22,Department/discount store,111,63,20,11,4,2,6,5
23,Dock/wharf/freight/modal terminal,1,1,0,0,0,0,0,0
24,Drug store/doctor's office/hospital,93,63,12,7,7,0,2,2
25,Farm facility,5,3,1,1,0,0,0,0
26,Field/woods,47,31,5,7,2,0,1,1
27,Gambling facility/casino/race track,3,3,0,0,0,0,0,0
28,Government/public building,163,116,22,12,4,2,2,5
29,Grocery/supermarket,98,75,5,10,3,0,5,0
30,Highway/road/alley/street/sidewalk,1328,846,143,259,23,4,42,11
31,Hotel/motel/etc.,67,41,6,17,2,0,1,0
32,Industrial site,7,5,0,0,1,1,0,0
33,Jail/prison/penitentiary/corrections facility,69,45,3,19,1,0,1,0
34,Lake/waterway/beach,8,4,1,2,0,0,0,1
35,Liquor store,13,6,0,4,0,1,2,0
36,Military installation,0,0,0,0,0,0,0,0
37,Park/playground,106,68,15,20,0,0,3,0
38,Parking/drop lot/garage,380,245,57,59,8,3,7,1
39,Rental storage facility,12,8,3,0,1,0,0,0
40,Residence/home,1832,1044,303,352,66,18,33,16
41,Rest area,8,2,6,0,0,0,0,0
42,Restaurant,189,136,15,30,0,1,6,1
43,School/college2,69,35,17,11,1,0,4,1
44,Schoolcollege/university,314,155,88,53,5,5,3,5
45,Schoolelementary/secondary,273,153,59,33,6,0,5,17
46,Service/gas station,91,63,12,10,2,0,4,0
47,Sheltermission/homeless,18,9,4,2,0,0,3,0
48,Shopping mall,21,14,1,5,0,0,0,1
49,"Specialty store (TV, fur, etc.)",79,56,10,7,1,1,2,2
50,Tribal Lands,1,1,0,0,0,0,0,0
51,Other/unknown,800,334,327,108,9,5,13,4
52,Multiple locations,12,7,1,2,1,0,1,0

In [175]:
table_10_2017 = pandas.read_excel('Table_10_Incidents_Bias_Motivation_by_Location_2017.xls')
new_table_10_2017 = table_10_2017.drop(0).drop(1).drop(2).rename(columns ={'Table 10': 'Location'}).rename(columns = {'Unnamed: 1' : 'Total Incidents'}).rename(columns = {'Unnamed: 2' : 'Race/Ethnicity/Ancestry'}).rename(columns = {'Unnamed: 3' : 'Religion'}).rename(columns = {'Unnamed: 4' : 'Sexual Orientation'}).rename(columns = {'Unnamed: 5' : 'Disability'}).rename(columns = {'Unnamed: 6' : 'Gender'}).rename(columns = {'Unnamed: 7' : 'Gender Identity'}).rename(columns = {'Unnamed: 8' : 'Multiple Bias Incidents'})
new_table_10_2017.drop(3).drop(4).drop(52).drop(53)

,Location,Total Incidents,Race/Ethnicity/Ancestry,Religion,Sexual Orientation,Disability,Gender,Gender Identity,Multiple Bias Incidents
5,Total,7175,4131,1564,1130,116,46,119,69
6,Abandoned/condemned structure,5,3,1,1,0,0,0,0
7,Air/bus/train terminal,118,84,13,15,1,0,4,1
8,Amusement park,3,2,0,1,0,0,0,0
9,Arena/stadium/fairgrounds/coliseum,7,3,0,3,1,0,0,0
10,ATM separate from bank,3,0,1,2,0,0,0,0
11,Auto dealership new/used,8,6,1,1,0,0,0,0
12,Bank/savings and loan,25,16,5,2,2,0,0,0
13,Bar/nightclub,99,52,5,37,2,0,2,1
14,Camp/campground,3,2,1,0,0,0,0,0
15,Church/synagogue/temple/mosque,292,44,234,12,0,0,1,1
16,Commercial office building,139,90,32,9,2,1,3,2
17,Community center,22,7,14,1,0,0,0,0
18,Construction site,25,19,3,2,1,0,0,0
19,Convenience store,105,71,13,14,3,1,1,2
20,Cyberspace,11,7,4,0,0,0,0,0
21,Daycare facility,6,4,0,1,1,0,0,0
22,Department/discount store,91,63,13,8,3,1,1,2
23,Dock/wharf/freight/modal terminal,3,1,1,0,0,0,1,0
24,Drug store/doctor's office/hospital,75,49,15,8,0,1,1,1
25,Farm facility,3,3,0,0,0,0,0,0
26,Field/woods,50,29,13,4,1,0,2,1
27,Gambling facility/casino/race track,3,3,0,0,0,0,0,0
28,Government/public building,117,78,19,17,2,1,0,0
29,Grocery/supermarket,75,57,11,4,1,0,2,0
30,Highway/road/alley/street/sidewalk,1218,778,139,241,16,5,29,10
31,Hotel/motel/etc.,63,41,11,9,1,1,0,0
32,Industrial site,9,8,1,0,0,0,0,0
33,Jail/prison/penitentiary/corrections facility,59,42,3,13,1,0,0,0
34,Lake/waterway/beach,13,8,2,3,0,0,0,0
35,Liquor store,11,8,0,2,0,0,1,0
36,Military installation,1,1,0,0,0,0,0,0
37,Park/playground,128,67,33,20,1,0,1,6
38,Parking/drop lot/garage,419,271,62,66,7,2,4,7
39,Rental storage facility,14,9,4,0,1,0,0,0
40,Residence/home,1971,1133,360,366,46,24,22,20
41,Rest area,8,2,6,0,0,0,0,0
42,Restaurant,192,126,20,38,3,1,3,1
43,School/college2,199,85,87,22,3,0,2,0
44,Schoolcollege/university,214,129,45,29,1,1,6,3
45,Schoolelementary/secondary,340,207,67,42,7,2,9,6
46,Service/gas station,73,58,8,4,2,1,0,0
47,Sheltermission/homeless,15,12,0,2,0,0,1,0
48,Shopping mall,21,10,5,3,0,0,3,0
49,"Specialty store (TV, fur, etc.)",76,51,10,11,2,1,0,1
50,Other/unknown,822,381,299,115,5,1,20,1
51,Multiple locations,21,11,3,2,0,2,0,3

In [49]:
table_5_2017 = pandas.read_excel('Table_5_Offenses_Known_Offenders_Race_and_Ethnicity_by_Bias_Motivation_2017.xls')
new_table_5_2017 = table_5_2017.drop(0).drop(1).drop(2).drop(48).drop(49)
new_2017_5 = new_table_5_2017.rename(columns = {'Table 5' : 'Bias Motivation'}).rename(columns = {'Unnamed: 1' : 'Total Offenses'}).rename(columns = {'Unnamed: 2' : "White"}).rename(columns = {'Unnamed: 3' : 'Black or African American'}).rename(columns = {'Unnamed: 4' : 'American Indian or Alaska Native'}).rename(columns = {'Unnamed: 5' : 'Asian'}).rename(columns = {'Unnamed: 6' : 'Native Hawaiian or Other Pacific Islander'}).rename(columns = {'Unnamed: 7': 'Group of Multiple Races'}).rename(columns= {'Unnamed: 8': 'Unknown Race'}).rename(columns = {'Unnamed: 9' : 'Hispanic or Latino'}).rename(columns = {'Unnamed: 10' : 'Not Hispanic or Latino'}).rename(columns = {'Unnamed: 11' : 'Group of multiple ethnicites'}).rename(columns = {'Unnamed: 12' : 'Unknown Ethnicity'}).rename(columns = {'Unnamed: 13' : 'Unknown Offender'}).drop(3).drop(4)

new_2017_5 = new_2017_5.reset_index(drop=True)
hold= new_2017_5['Bias Motivation'][42][:-2]
new_2017_5['Bias Motivation'][42] = hold
new_2017_5

,Bias Motivation,Total Offenses,White,Black or African American,American Indian or Alaska Native,Asian,Native Hawaiian or Other Pacific Islander,Group of Multiple Races,Unknown Race,Hispanic or Latino,Not Hispanic or Latino,Group of multiple ethnicites,Unknown Ethnicity,Unknown Offender
0,Total,8437,3228,1217,58,46,3,281,1132,350,1294,56,3085,2472
1,Single-Bias Incidents,8126,3186,1195,58,46,3,279,1117,345,1260,56,3043,2242
2,Race/Ethnicity/Ancestry:,4832,2164,694,46,22,2,166,508,174,816,42,1953,1230
3,Anti-White,844,182,382,14,2,1,26,83,22,168,3,445,154
4,Anti-Black or African American,2358,1241,72,25,10,0,89,268,112,361,16,851,653
5,Anti-American Indian or Alaska Native,281,137,27,2,1,1,26,12,7,13,20,160,75
6,Anti-Asian,152,63,27,0,4,0,2,22,6,22,1,53,34
7,Anti-Native Hawaiian or Other Pacific Islander,17,7,3,0,0,0,0,0,0,3,0,4,7
8,"Anti-Multiple Races, Group",215,76,14,0,0,0,1,29,9,25,0,67,95
9,Anti-Arab,128,54,30,0,2,0,5,16,4,19,0,59,21
10,Anti-Hispanic or Latino,525,274,107,3,0,0,9,43,6,160,2,190,89
11,Anti-Other Race/Ethnicity/Ancestry,312,130,32,2,3,0,8,35,8,45,0,124,102
12,Religion:,1679,409,87,1,13,0,25,443,40,140,2,433,701
13,Anti-Jewish,976,141,26,0,6,0,6,320,11,37,0,162,477
14,Anti-Catholic,75,28,8,0,1,0,2,16,9,6,0,30,20
15,Anti-Protestant,40,6,1,0,0,0,0,7,0,0,0,14,26
16,Anti-Islamic (Muslim),314,139,30,0,1,0,8,44,10,48,1,120,92
17,Anti-Other Religion,82,18,2,0,2,0,5,19,2,8,0,30,36
18,"Anti-Multiple Religions, Group",54,14,13,1,0,0,0,12,2,17,0,16,14
19,Anti-Mormon,15,6,1,0,0,0,0,1,0,2,0,6,7
20,Anti-Jehovah's Witness,13,11,0,0,0,0,0,1,0,6,0,6,1
21,"Anti-Eastern Orthodox (Russian, Greek, Other)",23,9,3,0,0,0,1,0,0,7,0,6,10
22,Anti-Other Christian,31,10,1,0,0,0,0,8,0,3,0,11,12
23,Anti-Buddhist,9,3,1,0,1,0,1,2,0,2,0,4,1
24,Anti-Hindu,15,9,0,0,0,0,0,4,5,0,0,5,2
25,Anti-Sikh,24,10,1,0,1,0,2,7,1,4,1,15,3
26,Anti-Atheism/Agnosticism/etc.,8,5,0,0,1,0,0,2,0,0,0,8,0
27,Sexual Orientation:,1303,478,335,10,10,1,68,143,102,267,11,492,258
28,Anti-Gay (Male),758,263,222,3,9,1,43,83,71,175,9,250,134
29,Anti-Lesbian,159,71,34,0,0,0,7,18,11,39,0,60,29
30,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",321,119,69,6,1,0,10,37,14,42,2,157,79
31,Anti-Heterosexual,37,10,6,0,0,0,6,2,2,6,0,12,13
32,Anti-Bisexual,28,15,4,1,0,0,2,3,4,5,0,13,3
33,Disability:,128,66,28,0,0,0,2,6,4,17,0,76,26
34,Anti-Physical,35,18,7,0,0,0,2,1,2,6,0,19,7
35,Anti-Mental,93,48,21,0,0,0,0,5,2,11,0,57,19
36,Gender:,53,28,8,0,1,0,0,8,1,3,0,41,8
37,Anti-Male,25,11,4,0,0,0,0,8,0,0,0,23,2
38,Anti-Female,28,17,4,0,1,0,0,0,1,3,0,18,6
39,Gender Identity:,131,41,43,1,0,0,18,9,24,17,1,48,19
40,Anti-Transgender,118,37,40,1,0,0,17,9,22,16,1,43,14
41,Anti-Gender Non-Conforming,13,4,3,0,0,0,1,0,2,1,0,5,5
42,Multiple-Bias Incident,311,42,22,0,0,0,2,15,5,34,0,42,230

In [177]:
table_9_2017 = pandas.read_excel('Table_9_Known_Offenders_Known_Offenders_Race_Ethnicity_and_Age_2017.xls')
table_9_2017.drop(0).drop(1).rename(columns = {'Table 9' : 'Race/Ethnicity/Age'}).rename(columns = {'Unnamed: 1' : 'Total'}).drop(2).drop(19).drop(20).drop(21).drop(22).drop(23).drop(24)

                           Race/Ethnicity/Age Total
3                                        Race  6370
4                                       White  3227
5                   Black or African American  1359
6            American Indian or Alaska Native    49
7                                       Asian    42
8   Native Hawaiian or Other Pacific Islander     3
9                    Group of Multiple Races2   475
10                               Unknown Race  1215
11                                Ethnicity3   5131
12                         Hispanic or Latino   454
13                     Not Hispanic or Latino  1284
14             Group of Multiple Ethnicities4    81
15                          Unknown Ethnicity  3312
16                                       Age3  4895
17          Total known offenders 18 and over  4062
18             Total known offenders under 18   833

In [179]:
table_10_2016 = pandas.read_excel('Table_10_Incidents_Bias_Motivation_by_Location_2016.xls')
new_10_2016 = table_10_2016.drop(0).drop(1).drop(2).rename(columns = {'Table 10' : 'Location'}).rename(columns = {'Unnamed: 1' : 'Total Incidents'}).rename(columns = {'Unnamed: 2': 'Race/Ethnicity/Ancestry'}).rename(columns = {'Unnamed: 3': 'Religion'}).rename(columns = {'Unnamed: 4': 'Sexual Orientation'}).rename(columns = {'Unnamed: 5': 'Disability'}).rename(columns = {'Unnamed: 6': 'Gender'}).rename(columns = {'Unnamed: 7': 'Gender Identity'}).rename(columns = {'Unnamed: 8': 'Multiple Bias Incidents'}).drop(3).drop(4)
new_10_2016.drop(['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'], axis =1).drop(52).drop(53)

,Location,Total Incidents,Race/Ethnicity/Ancestry,Religion,Sexual Orientation,Disability,Gender,Gender Identity,Multiple Bias Incidents
5,Total,6121,3489,1273,1076,70,31,124,58
6,Abandoned/condemned structure,5,2,3,0,0,0,0,0
7,Air/bus/train terminal,94,60,11,16,2,0,2,3
8,Amusement park,1,0,0,1,0,0,0,0
9,Arena/stadium/fairgrounds/coliseum,6,4,1,1,0,0,0,0
10,ATM separate from bank,1,1,0,0,0,0,0,0
11,Auto dealership new/used,6,6,0,0,0,0,0,0
12,Bank/savings and loan,20,11,6,1,0,1,1,0
13,Bar/nightclub,96,49,3,43,0,0,0,1
14,Camp/campground,3,2,0,1,0,0,0,0
15,Church/synagogue/temple/mosque,241,36,194,8,0,0,0,3
16,Commercial office building,117,63,29,20,1,0,3,1
17,Community center,11,5,4,2,0,0,0,0
18,Construction site,19,12,7,0,0,0,0,0
19,Convenience store,88,57,16,11,0,1,3,0
20,Cyberspace,4,3,0,1,0,0,0,0
21,Daycare facility,2,2,0,0,0,0,0,0
22,Department/discount store,72,45,11,13,2,0,1,0
23,Dock/wharf/freight/modal terminal,3,2,1,0,0,0,0,0
24,Drug store/doctor's office/hospital,64,49,11,2,2,0,0,0
25,Farm facility,0,0,0,0,0,0,0,0
26,Field/woods,31,19,7,2,0,0,3,0
27,Gambling facility/casino/race track,3,3,0,0,0,0,0,0
28,Government/public building,111,73,24,10,1,2,0,1
29,Grocery/supermarket,62,46,7,8,0,0,1,0
30,Highway/road/alley/street/sidewalk,1128,718,117,241,7,1,35,9
31,Hotel/motel/etc.,44,32,3,8,0,0,1,0
32,Industrial site,12,10,1,1,0,0,0,0
33,Jail/prison/penitentiary/corrections facility,61,42,3,13,1,1,0,1
34,Lake/waterway/beach,6,2,0,4,0,0,0,0
35,Liquor store,15,12,2,1,0,0,0,0
36,Military installation,0,0,0,0,0,0,0,0
37,Park/playground,98,66,13,12,2,1,2,2
38,Parking/drop lot/garage,351,222,50,68,3,0,5,3
39,Rental storage facility,9,5,3,0,0,0,1,0
40,Residence/home,1670,1008,249,327,32,11,24,19
41,Rest area,4,3,0,1,0,0,0,0
42,Restaurant,143,92,14,29,3,2,3,0
43,School/college2,146,67,52,24,0,1,0,2
44,Schoolcollege/university,210,107,61,36,1,0,5,0
45,Schoolelementary/secondary,248,155,48,29,6,1,2,7
46,Service/gas station,72,55,8,6,0,0,3,0
47,Sheltermission/homeless,16,10,2,2,0,0,2,0
48,Shopping mall,8,6,2,0,0,0,0,0
49,"Specialty store (TV, fur, etc.)",39,28,9,2,0,0,0,0
50,Other/unknown,777,297,301,132,7,8,27,5
51,Multiple locations,4,2,0,0,0,1,0,1

In [57]:
table_5_2016 = pandas.read_excel('Table_5_Offenses_Known_Offenders_Race_and_Ethnicity_by_Bias_Motivation_2016.xls')
new_5_2016 =table_5_2016.drop(0).drop(1).drop(2).drop(['Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], axis= 1)
new_2016_5 = new_5_2016.rename(columns = {'Table 5': 'Bias Motivation'}).rename(columns = {'Unnamed: 1': 'Total Offenses'}).rename(columns = {'Unnamed: 2': 'White'}).rename(columns = {'Unnamed: 3': 'Black or African American'}).rename(columns = {'Unnamed: 4': 'American Indian or Alaska Native'}).rename(columns = {'Unnamed: 5': 'Asian'}).rename(columns = {'Unnamed: 6': 'Native Hawaiian or Other Pacific Islander'}).rename(columns = {'Unnamed: 7': 'Group of Multiple races'}).rename(columns = {'Unnamed: 8': 'Unknown Race'}).rename(columns = {'Unnamed: 9': 'Hispanic or Latino'}).rename(columns = {'Unnamed: 10': 'Not Hispanic or Latino'}).rename(columns = {'Unnamed: 11':'Group of multiple ethnicities'}).rename(columns = {'Unnamed: 12': 'Unknown Ethnicity'}).rename(columns = {'Unnamed: 13': 'Unknown Offender'}).drop(3).drop(4).drop(48).drop(49)

new_2016_5 = new_2016_5.reset_index(drop=True)
hold= new_2016_5['Bias Motivation'][42][:-2]
new_2016_5['Bias Motivation'][42] = hold
new_2016_5

,Bias Motivation,Total Offenses,White,Black or African American,American Indian or Alaska Native,Asian,Native Hawaiian or Other Pacific Islander,Group of Multiple races,Unknown Race,Hispanic or Latino,Not Hispanic or Latino,Group of multiple ethnicities,Unknown Ethnicity,Unknown Offender
0,Total,7321,2680,1331,49,45,7,245,1010,254,1026,38,2504,1954
1,Single-Bias Incidents,7227,2661,1307,49,45,7,242,993,252,998,38,2476,1923
2,Race/Ethnicity/Ancestry:,4229,1775,781,37,32,2,150,398,135,662,22,1618,1054
3,Anti-White,876,133,452,20,6,0,27,80,22,169,9,393,158
4,Anti-Black or African American,2122,1142,80,9,17,1,88,202,82,267,5,808,583
5,Anti-American Indian or Alaska Native,161,56,28,2,0,0,3,14,1,3,0,92,58
6,Anti-Asian,131,65,20,2,6,0,5,9,6,28,3,40,24
7,Anti-Native Hawaiian or Other Pacific Islander,9,4,4,0,0,0,0,0,0,1,0,3,1
8,"Anti-Multiple Races, Group",178,54,33,0,1,0,9,17,2,31,1,50,64
9,Anti-Arab,56,32,6,0,1,0,3,6,4,16,0,14,8
10,Anti-Hispanic or Latino,449,228,114,2,0,1,12,24,15,112,2,150,68
11,Anti-Other Race/Ethnicity/Ancestry,247,61,44,2,1,0,3,46,3,35,2,68,90
12,Religion:,1538,389,118,5,5,2,32,410,23,100,9,364,577
13,Anti-Jewish,834,156,34,4,0,0,12,300,9,16,4,152,328
14,Anti-Catholic,63,9,3,0,2,0,3,22,4,3,0,14,24
15,Anti-Protestant,20,11,2,0,0,0,0,3,0,8,0,6,4
16,Anti-Islamic (Muslim),381,135,49,1,2,0,9,66,5,40,2,121,119
17,Anti-Other Religion,90,20,20,0,1,2,1,7,2,16,2,18,39
18,"Anti-Multiple Religions, Group",48,20,1,0,0,0,4,4,0,4,0,21,19
19,Anti-Mormon,8,2,2,0,0,0,0,0,0,4,0,0,4
20,Anti-Jehovah's Witness,3,2,0,0,0,0,0,0,0,0,0,0,1
21,"Anti-Eastern Orthodox (Russian, Greek, Other)",28,15,3,0,0,0,0,1,0,4,0,15,9
22,Anti-Other Christian,37,4,2,0,0,0,1,6,3,1,0,5,24
23,Anti-Buddhist,1,0,0,0,0,0,0,0,0,0,0,0,1
24,Anti-Hindu,12,9,0,0,0,0,1,0,0,2,0,5,2
25,Anti-Sikh,7,4,1,0,0,0,1,1,0,2,1,4,0
26,Anti-Atheism/Agnosticism/etc.,6,2,1,0,0,0,0,0,0,0,0,3,3
27,Sexual Orientation:,1218,414,326,6,6,3,49,156,80,177,7,406,258
28,Anti-Gay (Male),765,257,223,2,1,2,33,102,63,126,6,209,145
29,Anti-Lesbian,141,51,37,0,0,0,3,14,6,24,0,34,36
30,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",262,86,53,4,3,1,12,37,10,20,1,140,66
31,Anti-Heterosexual,23,12,1,0,2,0,1,0,1,1,0,9,7
32,Anti-Bisexual,27,8,12,0,0,0,0,3,0,6,0,14,4
33,Disability:,76,35,16,1,1,0,1,6,2,14,0,39,16
34,Anti-Physical,29,14,8,0,1,0,1,2,0,7,0,14,3
35,Anti-Mental,47,21,8,1,0,0,0,4,2,7,0,25,13
36,Gender:,36,18,9,0,0,0,1,4,0,8,0,17,4
37,Anti-Male,10,10,0,0,0,0,0,0,0,2,0,8,0
38,Anti-Female,26,8,9,0,0,0,1,4,0,6,0,9,4
39,Gender Identity:,130,30,57,0,1,0,9,19,12,37,0,32,14
40,Anti-Transgender,111,27,54,0,0,0,9,14,12,33,0,30,7
41,Anti-Gender Non-Conforming,19,3,3,0,1,0,0,5,0,4,0,2,7
42,Multiple-Bias Incident,94,19,24,0,0,0,3,17,2,28,0,28,31

In [181]:
table_9_2016 = pandas.read_excel('Table_9_Known_Offenders_Known_Offenders_Race_Ethnicity_and_Age_2016.xls')
table_9_2016.drop(0).drop(1).drop(['Unnamed: 2'], axis=1).rename(columns = {'Table 9':'Race/Ethnicity/Age'}).rename(columns = {'Unnamed: 1':'Total'}).drop(2).drop(19).drop(20).drop(21).drop(22).drop(23).drop(24)

                           Race/Ethnicity/Age Total
3                                        Race  5770
4                                       White  2671
5                   Black or African American  1508
6            American Indian or Alaska Native    45
7                                       Asian    46
8   Native Hawaiian or Other Pacific Islander     7
9                    Group of Multiple Races2   447
10                               Unknown Race  1046
11                                Ethnicity3   4222
12                         Hispanic or Latino   339
13                     Not Hispanic or Latino  1101
14             Group of Multiple Ethnicities4    97
15                          Unknown Ethnicity  2685
16                                       Age3  4100
17          Total known offenders 18 and over  3436
18             Total known offenders under 18   664

In [201]:
table_10_2015 = pandas.read_excel('Table_10_Incidents_Bias_Motivation_by_Location_2015.xls')
table_10_2015.rename(columns ={'Table 10': 'Location'}).rename(columns = {'Unnamed: 1' : 'Total Incidents'}).rename(columns = {'Unnamed: 2' : 'Race/Ethnicity/Ancestry'}).rename(columns = {'Unnamed: 3' : 'Religion'}).rename(columns = {'Unnamed: 4' : 'Sexual Orientation'}).rename(columns = {'Unnamed: 5' : 'Disability'}).rename(columns = {'Unnamed: 6' : 'Gender'}).rename(columns = {'Unnamed: 7' : 'Gender Identity'}).rename(columns = {'Unnamed: 8' : 'Multiple Bias Incidents'}).drop(0).drop(1).drop(2).drop(51).drop(52).drop(3).drop(4)

,Location,Total Incidents,Race/Ethnicity/Ancestry,Religion,Sexual Orientation,Disability,Gender,Gender Identity,Multiple Bias Incidents
5,Total,5850,3310,1244,1053,74,23,114,32
6,Abandoned/condemned structure,5,2,3,0,0,0,0,0
7,Air/bus/train terminal,82,57,9,15,0,0,0,1
8,Amusement park,1,1,0,0,0,0,0,0
9,Arena/stadium/fairgrounds/coliseum,7,4,1,1,0,0,1,0
10,ATM separate from bank,1,1,0,0,0,0,0,0
11,Auto dealership new/used,4,1,2,1,0,0,0,0
12,Bank/savings and loan,12,7,1,1,0,0,2,1
13,Bar/nightclub,99,55,9,32,0,0,3,0
14,Camp/campground,3,1,2,0,0,0,0,0
15,Church/synagogue/temple/mosque,259,45,199,8,0,0,5,2
16,Commercial office building,111,56,32,15,3,0,4,1
17,Community center,15,5,10,0,0,0,0,0
18,Construction site,11,9,2,0,0,0,0,0
19,Convenience store,94,67,14,11,1,0,1,0
20,Daycare facility,2,1,0,0,1,0,0,0
21,Department/discount store,68,48,12,5,0,2,1,0
22,Dock/wharf/freight/modal terminal,3,3,0,0,0,0,0,0
23,Drug store/doctor's office/hospital,66,50,10,4,0,1,1,0
24,Farm facility,3,3,0,0,0,0,0,0
25,Field/woods,31,21,4,3,1,0,1,1
26,Gambling facility/casino/race track,3,3,0,0,0,0,0,0
27,Government/public building,104,74,13,12,1,0,3,1
28,Grocery/supermarket,48,35,5,6,1,0,1,0
29,Highway/road/alley/street/sidewalk,1018,588,99,266,16,2,38,9
30,Hotel/motel/etc.,49,28,9,9,1,1,1,0
31,Industrial site,14,11,0,2,0,0,1,0
32,Jail/prison/penitentiary/corrections facility,58,38,6,11,2,1,0,0
33,Lake/waterway/beach,9,5,0,4,0,0,0,0
34,Liquor store,14,8,3,3,0,0,0,0
35,Military installation,2,1,1,0,0,0,0,0
36,Park/playground,88,53,18,13,1,0,3,0
37,Parking/drop lot/garage,328,212,51,53,3,1,7,1
38,Rental storage facility,4,2,1,0,0,1,0,0
39,Residence/home,1843,1109,318,345,28,10,27,6
40,Rest area,4,3,1,0,0,0,0,0
41,Restaurant,125,83,13,25,1,0,1,2
42,School/college2,149,73,57,19,0,0,0,0
43,Schoolcollege/university,152,85,41,19,2,0,3,2
44,Schoolelementary/secondary,184,103,44,25,4,2,4,2
45,Service/gas station,65,46,11,7,0,0,0,1
46,Sheltermission/homeless,8,7,0,0,1,0,0,0
47,Shopping mall,11,7,0,2,0,0,1,1
48,"Specialty store (TV, fur, etc.)",43,25,8,8,2,0,0,0
49,Other/unknown,642,269,235,125,5,2,5,1
50,Multiple locations,8,5,0,3,0,0,0,0

In [209]:
table_5_2015 = pandas.read_excel('Table_5_Offenses_Known_Offenders_Race_and_Ethnicity_by_Bias_Motivation_2015.xls')
table_5_2015.rename(columns = {'Table 5': 'Bias Motivation'}).rename(columns = {'Unnamed: 1': 'Total Offenses'}).rename(columns = {'Unnamed: 2': 'White'}).rename(columns = {'Unnamed: 3': 'Black or African American'}).rename(columns = {'Unnamed: 4': 'American Indian or Alaska Native'}).rename(columns = {'Unnamed: 5': 'Asian'}).rename(columns = {'Unnamed: 6': 'Native Hawaiian or Other Pacific Islander'}).rename(columns = {'Unnamed: 7': 'Group of Multiple races'}).rename(columns = {'Unnamed: 8': 'Unknown Race'}).rename(columns = {'Unnamed: 9': 'Hispanic or Latino'}).rename(columns = {'Unnamed: 10': 'Not Hispanic or Latino'}).rename(columns = {'Unnamed: 11':'Group of multiple ethnicities'}).rename(columns = {'Unnamed: 12': 'Unknown Ethnicity'}).rename(columns = {'Unnamed: 13': 'Unknown Offender'}).drop(3).drop(48).drop(49).drop(0).drop(1).drop(2).drop(4)

,Bias Motivation,Total Offenses,White,Black or African American,American Indian or Alaska Native,Asian,Native Hawaiian or Other Pacific Islander,Group of Multiple races,Unknown Race,Hispanic or Latino,Not Hispanic or Latino,Group of multiple ethnicities,Unknown Ethnicity,Unknown Offender
5,Total,6885,2761,1129,65,60,7,304,842,182,875,27,2158,1717
6,Single-Bias Incidents,6837,2744,1126,63,60,7,304,840,182,866,27,2151,1693
7,Race/Ethnicity/Ancestry:,4029,1833,646,58,41,5,175,391,102,563,5,1463,880
8,Anti-White,734,144,339,17,5,0,26,67,8,114,1,334,136
9,Anti-Black or African American,2125,1227,72,23,22,0,97,202,69,259,4,756,482
10,Anti-American Indian or Alaska Native,137,37,33,11,1,0,1,9,1,3,0,79,45
11,Anti-Asian,132,50,32,0,4,0,7,11,0,26,0,26,28
12,Anti-Native Hawaiian or Other Pacific Islander,6,0,1,0,0,3,0,1,0,3,0,1,1
13,"Anti-Multiple Races, Group",138,50,11,0,0,0,13,15,9,12,0,45,49
14,Anti-Arab,47,25,6,0,0,0,0,6,4,8,0,15,10
15,Anti-Hispanic or Latino,379,191,84,6,1,1,13,28,4,68,0,98,55
16,Anti-Other Race/Ethnicity/Ancestry,331,109,68,1,8,1,18,52,7,70,0,109,74
17,Religion:,1354,346,89,1,7,2,28,316,8,86,5,267,565
18,Anti-Jewish,695,121,31,0,2,0,8,211,0,13,1,68,322
19,Anti-Catholic,59,12,5,1,0,0,1,10,0,2,0,13,30
20,Anti-Protestant,47,9,5,0,0,0,1,8,0,7,0,14,24
21,Anti-Islamic (Muslim),301,134,28,0,1,0,10,53,5,39,1,93,75
22,Anti-Other Religion,104,23,5,0,0,2,3,20,2,3,3,26,51
23,"Anti-Multiple Religions, Group",57,11,5,0,2,0,2,6,0,5,0,17,31
24,Anti-Mormon,8,3,2,0,0,0,0,1,0,5,0,1,2
25,Anti-Jehovah's Witness,1,0,0,0,0,0,0,0,0,0,0,0,1
26,"Anti-Eastern Orthodox (Russian, Greek, Other)",50,24,5,0,0,0,2,1,0,5,0,26,18
27,Anti-Other Christian,18,6,3,0,0,0,0,6,0,2,0,9,3
28,Anti-Buddhist,1,0,0,0,1,0,0,0,0,1,0,0,0
29,Anti-Hindu,5,1,0,0,1,0,0,0,0,2,0,0,3
30,Anti-Sikh,6,2,0,0,0,0,1,0,1,2,0,0,3
31,Anti-Atheism/Agnosticism/etc.,2,0,0,0,0,0,0,0,0,0,0,0,2
32,Sexual Orientation:,1219,481,332,3,10,0,83,109,58,171,7,340,201
33,Anti-Gay (Male),758,296,210,2,6,0,59,72,36,113,2,188,113
34,Anti-Lesbian,168,56,52,1,1,0,13,14,11,17,2,46,31
35,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",235,105,52,0,3,0,9,18,11,31,1,82,48
36,Anti-Heterosexual,23,10,5,0,0,0,2,1,0,2,2,9,5
37,Anti-Bisexual,35,14,13,0,0,0,0,4,0,8,0,15,4
38,Disability:,88,38,15,1,1,0,8,9,1,14,5,44,16
39,Anti-Physical,52,22,5,1,0,0,8,2,1,5,5,22,14
40,Anti-Mental,36,16,10,0,1,0,0,7,0,9,0,22,2
41,Gender:,29,12,6,0,0,0,0,4,5,6,0,10,7
42,Anti-Male,8,5,1,0,0,0,0,0,0,0,0,6,2
43,Anti-Female,21,7,5,0,0,0,0,4,5,6,0,4,5
44,Gender Identity:,118,34,38,0,1,0,10,11,8,26,5,27,24
45,Anti-Transgender,75,19,32,0,1,0,6,8,5,18,2,15,9
46,Anti-Gender Non-Conforming,43,15,6,0,0,0,4,3,3,8,3,12,15
47,Multiple-Bias Incidents2,48,17,3,2,0,0,0,2,0,9,0,7,24

In [189]:
table_9_2015 = pandas.read_excel('Table_9_Known_Offenders_Known_Offenders_Race_Ethnicity_and_Age_2015.xls')
table_9_2015.drop(0).drop(1).rename(columns = {'Table 9':'Race/Ethnicity/Age'}).rename(columns = {'Unnamed: 1':'Total'}).drop(2).drop(19).drop(20).drop(21).drop(22).drop(23).drop(24)

                           Race/Ethnicity/Age Total
3                                        Race  5493
4                                       White  2657
5                   Black or African American  1336
6            American Indian or Alaska Native    52
7                                       Asian    53
8   Native Hawaiian or Other Pacific Islander     4
9                    Group of Multiple Races2   499
10                               Unknown Race   892
11                                Ethnicity3   3421
12                         Hispanic or Latino   209
13                     Not Hispanic or Latino   880
14             Group of Multiple Ethnicities4    54
15                          Unknown Ethnicity  2278
16                                       Age3  3331
17          Total known offenders 18 and over  2823
18             Total known offenders under 18   508

In [197]:
table_10_2014 = pandas.read_excel('Table_10_Incidents_Bias_Motivation_by_Location_2014.xls')
new_2014_10 = table_10_2014.rename(columns = {'Table 10' : 'Location'}).rename(columns = {'Unnamed: 1' : 'Total Incidents'}).rename(columns = {'Unnamed: 2': 'Race'}).rename(columns = {'Unnamed: 3': 'Religion'}).rename(columns = {'Unnamed: 4': 'Sexual Orientation'}).rename(columns = {'Unnamed: 5': 'Ethnicity'}).rename(columns = {'Unnamed: 6': 'Disability'}).rename(columns = {'Unnamed: 7': 'Gender'}).rename(columns = {'Unnamed: 8': 'Gender Identity'}).rename(columns = {'Unnamed: 9':'Multiple Bias Incidents'})
new_2014_10.drop(0).drop(1).drop(2).drop(48).drop(49).drop(3).drop(4)

,Location,Total Incidents,Race,Religion,Sexual Orientation,Ethnicity,Disability,Gender,Gender Identity,Multiple Bias Incidents
5,Total,5479,2568,1014,1017,648,84,33,98,17
6,Abandoned/condemned structure,3,2,1,0,0,0,0,0,0
7,Air/bus/train terminal,68,39,5,13,8,2,0,1,0
8,Amusement Park,2,2,0,0,0,0,0,0,0
9,Arena/stadium/fairgrounds/coliseum,2,1,0,1,0,0,0,0,0
10,Auto dealership new/used,1,1,0,0,0,0,0,0,0
11,Bank/savings and loan,21,11,1,3,2,1,0,3,0
12,Bar/nightclub,90,48,5,23,13,0,1,0,0
13,Camp/campground,1,1,0,0,0,0,0,0,0
14,Church/synagogue/temple/mosque,195,21,158,9,6,1,0,0,0
15,Commercial office building,70,28,17,12,12,1,0,0,0
16,Community center,6,1,1,3,0,0,0,1,0
17,Construction site,10,4,1,1,4,0,0,0,0
18,Convenience store,73,35,5,11,21,0,0,1,0
19,Daycare facility,4,1,1,0,2,0,0,0,0
20,Department/discount store,58,36,2,8,6,1,2,3,0
21,Dock/Wharf/Freight/Modal Terminal,3,2,0,0,1,0,0,0,0
22,Drug store/Doctor's office/hospital,70,41,8,5,11,4,1,0,0
23,Farm facility,1,1,0,0,0,0,0,0,0
24,Field/woods,36,20,6,5,5,0,0,0,0
25,Government/public building,96,57,15,12,9,2,0,1,0
26,Grocery/supermarket,52,24,9,7,9,1,0,2,0
27,Highway/road/alley/street/sidewalk,974,493,96,231,107,11,6,26,4
28,Hotel/motel/etc.,35,19,1,7,6,0,1,1,0
29,Industrial site,6,6,0,0,0,0,0,0,0
30,Jail/prison/penitentiary/corrections facility,53,29,1,13,9,0,0,1,0
31,Lake/waterway/beach,10,4,1,3,2,0,0,0,0
32,Liquor store,8,4,2,1,1,0,0,0,0
33,Park/playground,70,34,8,17,10,0,0,1,0
34,Parking/drop lot/garage,343,186,37,59,49,3,2,6,1
35,Rental storage facility,3,3,0,0,0,0,0,0,0
36,Residence/home,1732,828,249,318,239,36,14,41,7
37,Rest area,6,1,1,2,2,0,0,0,0
38,Restaurant,114,58,10,25,16,2,2,0,1
39,School/college2,165,78,46,27,11,1,2,0,0
40,Schoolcollege/university,123,73,23,21,0,2,2,2,0
41,Schoolelementary/secondary,184,94,27,33,20,6,0,2,2
42,Service/gas station,62,35,5,9,10,1,0,1,1
43,Sheltermission/homeless,5,4,0,1,0,0,0,0,0
44,Shopping mall,15,5,6,2,1,1,0,0,0
45,"Specialty store (TV, fur, etc.)",48,25,8,7,6,0,0,2,0
46,Other/unknown,654,210,258,126,48,8,0,3,1
47,Multiple locations,7,3,0,2,2,0,0,0,0

In [213]:
table_5_2014 = pandas.read_excel('Table_5_Offenses_Known_Offenders_Race_and_Ethnicity_by_Bias_Motivation_2014.xls')
new_5_2014 = table_5_2014.rename(columns = {'Table 5': 'Bias Motivation'}).rename(columns = {'Unnamed: 1': 'Total Offenses'}).rename(columns = {'Unnamed: 2': 'White'}).rename(columns = {'Unnamed: 3': 'Black or African American'}).rename(columns = {'Unnamed: 4': 'American Indian or Alaska Native'}).rename(columns = {'Unnamed: 5': 'Asian'}).rename(columns = {'Unnamed: 6': 'Native Hawaiian or Other Pacific Islander'}).rename(columns = {'Unnamed: 7': 'Group of Multiple races'}).rename(columns = {'Unnamed: 8': 'Unknown Race'}).rename(columns = {'Unnamed: 9': 'Hispanic or Latino'}).rename(columns = {'Unnamed: 10': 'Not Hispanic or Latino'}).rename(columns = {'Unnamed: 11':'Group of multiple ethnicities'}).rename(columns = {'Unnamed: 12': 'Unknown Ethnicity'}).rename(columns = {'Unnamed: 13': 'Unknown Offender'})
new_5_2014.drop(0).drop(1).drop(2).drop(3).drop(41).drop(42).drop(43).drop(4)

,Bias Motivation,Total Offenses,White,Black or African American,American Indian or Alaska Native,Asian,Native Hawaiian or Other Pacific Islander,Group of Multiple races,Unknown Race,Hispanic or Latino,Not Hispanic or Latino,Group of multiple ethnicities,Unknown Ethnicity,Unknown Offender
5,Total,6418,2694,1006,53,42,2,189,758,48,477,9,400,1674
6,Single-Bias Incidents,6385,2675,1004,53,42,2,189,756,48,473,9,398,1664
7,Race:,3081,1487,472,24,18,0,83,240,8,230,2,213,757
8,Anti-White,701,145,337,10,4,0,18,45,1,54,0,46,142
9,Anti-Black or African American,1955,1165,57,10,9,0,52,166,6,148,1,145,496
10,Anti-American Indian or Alaska Native,142,56,23,3,0,0,5,9,0,6,1,6,46
11,Anti-Asian,168,75,37,1,5,0,2,16,1,9,0,12,32
12,Anti-Native Hawaiian or Other Pacific Islander,4,4,0,0,0,0,0,0,0,1,0,0,0
13,"Anti-Multiple Races, Group",111,42,18,0,0,0,6,4,0,12,0,4,41
14,Religion:,1092,242,47,7,10,1,19,302,6,42,2,33,464
15,Anti-Jewish,635,87,20,0,4,1,10,231,0,11,0,5,282
16,Anti-Catholic,67,10,3,0,0,0,0,18,0,2,0,1,36
17,Anti-Protestant,28,8,3,0,0,0,0,2,0,4,0,0,15
18,Anti-Islamic (Muslim),178,82,9,6,1,0,7,23,1,19,2,21,50
19,Anti-Other Religion,120,41,5,1,4,0,1,16,2,3,0,2,52
20,"Anti-Multiple Religions, Group",51,13,5,0,1,0,1,6,0,2,0,4,25
21,Anti-Atheism/Agnosticism/etc.,13,1,2,0,0,0,0,6,3,1,0,0,4
22,Sexual Orientation:,1178,447,301,12,12,0,59,111,19,72,3,75,236
23,Anti-Gay (Male),683,252,194,5,10,0,46,72,18,47,3,48,104
24,Anti-Lesbian,168,66,43,4,1,0,6,9,0,13,0,11,39
25,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",278,110,57,1,1,0,5,28,1,11,0,14,76
26,Anti-Heterosexual,18,6,1,1,0,0,0,1,0,0,0,0,9
27,Anti-Bisexual,31,13,6,1,0,0,2,1,0,1,0,2,8
28,Ethnicity:,790,399,123,10,1,1,22,87,8,91,1,54,147
29,Anti-Hispanic or Latino,376,204,47,7,0,1,11,36,5,36,1,26,70
30,Anti-Not Hispanic or Latino2,414,195,76,3,1,0,11,51,3,55,0,28,77
31,Disability:,95,41,19,0,0,0,2,8,1,11,0,10,25
32,Anti-Physical,26,11,7,0,0,0,1,5,0,5,0,3,2
33,Anti-Mental,69,30,12,0,0,0,1,3,1,6,0,7,23
34,Gender:,40,22,6,0,1,0,0,2,1,9,0,0,9
35,Anti-Male,12,8,2,0,0,0,0,1,0,3,0,0,1
36,Anti-Female,28,14,4,0,1,0,0,1,1,6,0,0,8
37,Gender Identity:,109,37,36,0,0,0,4,6,5,18,1,13,26
38,Anti-Transgender,69,20,29,0,0,0,3,6,4,14,0,9,11
39,Anti-Gender Non-Conforming,40,17,7,0,0,0,1,0,1,4,1,4,15
40,Multiple-Bias Incidents3,33,19,2,0,0,0,0,2,0,4,0,2,10

In [217]:
table_9_2014 = pandas.read_excel('Table_9_Known_Offenders_Known_Offenders_Race_Ethnicity_and_Age_2014.xls')
table_9_2014.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'], axis =1).rename(columns = {'Table 9':'Race/Ethnicity/Age'}).rename(columns = {'Unnamed: 1':'Total'}).drop(0).drop(1).drop(2).drop(19).drop(20).drop(21).drop(22).drop(23).drop(24)

                           Race/Ethnicity/Age Total
3                                        Race  5192
4                                       White  2699
5                   Black or African American  1203
6            American Indian or Alaska Native    58
7                                       Asian    39
8   Native Hawaiian or Other Pacific Islander     2
9                    Group of Multiple Races2   359
10                               Unknown Race   832
11                                Ethnicity3    975
12                         Hispanic or Latino    63
13                     Not Hispanic or Latino   464
14             Group of Multiple Ethnicities4    17
15                          Unknown Ethnicity   431
16                                       Age3  1875
17          Total known offenders 18 and over  1519
18             Total known offenders under 18   356

In [219]:
table_10_2013 = pandas.read_excel('Table_10_Incidents_Bias_Motivation_by_Location_2013.xls')
table_10_2013.rename(columns = {'Table 10' : 'Location'}).rename(columns = {'Unnamed: 1' : 'Total Incidents'}).rename(columns = {'Unnamed: 2': 'Race'}).rename(columns = {'Unnamed: 3': 'Religion'}).rename(columns = {'Unnamed: 4': 'Sexual Orientation'}).rename(columns = {'Unnamed: 5': 'Ethnicity'}).rename(columns = {'Unnamed: 6': 'Disability'}).rename(columns = {'Unnamed: 7': 'Gender'}).rename(columns = {'Unnamed: 8': 'Gender Identity'}).rename(columns = {'Unnamed: 9':'Multiple Bias Incidents'}).drop(0).drop(1).drop(2).drop(3).drop(4).drop(48).drop(49)

,Location,Total Incidents,Race,Religion,Sexual Orientation,Ethnicity,Disability,Gender,Gender Identity,Multiple Bias Incidents
5,Total,5928,2871,1031,1233,655,83,18,31,6
6,Abandoned/condemned structure,2,0,0,1,0,1,0,0,0
7,Air/bus/train terminal,63,31,5,21,4,0,0,2,0
8,Arena/stadium/fairgrounds/coliseum,3,1,0,2,0,0,0,0,0
9,Auto dealership new/used,2,2,0,0,0,0,0,0,0
10,Bank/savings and loan,11,4,3,1,2,1,0,0,0
11,Bar/nightclub,121,53,5,44,16,1,1,1,0
12,Camp/campground,2,1,1,0,0,0,0,0,0
13,Church/synagogue/temple/mosque,206,13,189,2,2,0,0,0,0
14,Commercial office building,117,62,17,18,15,3,1,1,0
15,Community center,1,0,1,0,0,0,0,0,0
16,Construction site,13,5,3,0,5,0,0,0,0
17,Convenience store,69,33,10,3,23,0,0,0,0
18,Daycare facility,3,1,0,1,1,0,0,0,0
19,Department/discount store,59,29,10,8,10,1,0,1,0
20,Drug store/Doctor's office/hospital,48,30,11,3,3,0,0,1,0
21,Farm facility,1,1,0,0,0,0,0,0,0
22,Field/woods,53,31,5,14,3,0,0,0,0
23,Gambling facility/casino/race track,3,1,0,0,2,0,0,0,0
24,Government/public building,107,60,13,15,18,1,0,0,0
25,Grocery/supermarket,53,32,2,8,10,1,0,0,0
26,Highway/road/alley/street/sidewalk,1071,551,92,284,120,15,1,7,1
27,Hotel/motel/etc.,32,13,6,5,7,1,0,0,0
28,Industrial site,6,4,0,1,1,0,0,0,0
29,Jail/prison/penitentiary/corrections facility,71,46,5,14,5,0,1,0,0
30,Lake/waterway/beach,4,2,2,0,0,0,0,0,0
31,Liquor store,8,3,0,2,3,0,0,0,0
32,Park/playground,67,46,7,11,3,0,0,0,0
33,Parking/drop lot/garage,336,182,28,75,44,0,3,2,2
34,Rental storage facility,4,1,1,2,0,0,0,0,0
35,Residence/home,1865,976,240,397,207,37,2,5,1
36,Rest area,2,1,0,0,1,0,0,0,0
37,Restaurant,126,63,9,30,21,1,0,2,0
38,School/college2,234,111,53,45,21,3,1,0,0
39,Schoolcollege/university,100,47,13,23,13,1,1,1,1
40,Schoolelementary/secondary,158,92,13,21,27,4,1,0,0
41,Service/gas station,55,30,6,8,10,0,0,1,0
42,Sheltermission/homeless,4,2,0,2,0,0,0,0,0
43,Shopping mall,9,3,2,2,1,1,0,0,0
44,"Specialty store (TV, fur, etc.)",42,22,6,5,8,1,0,0,0
45,Tribal lands,4,2,0,0,1,0,0,1,0
46,Other/unknown,782,276,272,164,48,9,6,6,1
47,Multiple locations,11,8,1,1,0,1,0,0,0

In [221]:
table_9_2013 = pandas.read_excel('Table_9_Known_Offenders_Known_Offenders_Race_2013.xls')
table_9_2013.rename(columns = {'Table 9' : 'Race/Ethnicity/Age'}).rename(columns = {'Unnamed: 1' : 'Total'}).drop(2).drop(19).drop(20).drop(21).drop(22).drop(23).drop(24).drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'], axis=1)

                                 Race/Ethnicity/Age Total
0                                  Known Offenders1   NaN
1   Known Offender's Race, Ethnicity, and Age, 2013   NaN
3                                              Race  5814
4                                             White  3046
5                         Black or African American  1410
6                  American Indian or Alaska Native    49
7                                             Asian    40
8         Native Hawaiian or Other Pacific Islander     3
9                          Group of Multiple Races2   407
10                                     Unknown Race   859
11                                      Ethnicity3    368
12                               Hispanic or Latino    12
13                           Not Hispanic or Latino   199
14                   Group of Multiple Ethnicities4    23
15                                Unknown Ethnicity   134
16                                             Age3  2527
17                Total known offenders 18 and over  1719
18                   Total known offenders under 18   808

In [223]:
table_5_2013 = pandas.read_excel('Table_5_Offenses_Known_Offenders_Race_by_Bias_Motivation_2013.xls')
table_5_2013.rename(columns = {'Table 5': 'Bias Motivation'}).rename(columns = {'Unnamed: 1': 'Total Offenses'}).rename(columns = {'Unnamed: 2': 'White'}).rename(columns = {'Unnamed: 3': 'Black or African American'}).rename(columns = {'Unnamed: 4': 'American Indian or Alaska Native'}).rename(columns = {'Unnamed: 5': 'Asian'}).rename(columns = {'Unnamed: 6': 'Native Hawaiian or Other Pacific Islander'}).rename(columns = {'Unnamed: 7': 'Group of Multiple races'}).rename(columns = {'Unnamed: 8': 'Unknown Race'}).rename(columns = {'Unnamed: 9': 'Hispanic or Latino'}).rename(columns = {'Unnamed: 10': 'Not Hispanic or Latino'}).rename(columns = {'Unnamed: 11':'Group of multiple ethnicities'}).rename(columns = {'Unnamed: 12': 'Unknown Ethnicity'}).rename(columns = {'Unnamed: 13': 'Unknown Offender'}).drop(0).drop(1).drop(2).drop(3).drop(4).drop(41).drop(42).drop(43)

,Bias Motivation,Total Offenses,White,Black or African American,American Indian or Alaska Native,Asian,Native Hawaiian or Other Pacific Islander,Group of Multiple races,Unknown Race,Hispanic or Latino,Not Hispanic or Latino,Group of multiple ethnicities,Unknown Ethnicity,Unknown Offender
5,Total,6933,2963,1091,50,41,2,199,787,13,173,12,98,1800
6,Single-Bias Incidents,6921,2955,1089,50,41,2,199,787,13,173,12,98,1798
7,Race:,3407,1667,446,33,22,1,77,266,5,66,9,35,895
8,Anti-White,728,176,299,14,4,1,15,43,0,16,3,10,176
9,Anti-Black or African American,2263,1336,85,9,14,0,58,175,4,46,2,19,586
10,Anti-American Indian or Alaska Native,146,47,31,7,3,0,0,14,0,0,2,4,44
11,Anti-Asian,158,69,23,0,1,0,3,15,1,3,1,1,47
12,Anti-Native Hawaiian or Other Pacific Islander,3,2,0,0,0,0,1,0,0,0,0,0,0
13,"Anti-Multiple Races, Group",109,37,8,3,0,0,0,19,0,1,1,1,42
14,Religion:,1163,297,68,1,0,0,22,306,1,4,1,9,469
15,Anti-Jewish,689,143,35,0,0,0,4,236,0,2,0,7,271
16,Anti-Catholic,74,25,0,0,0,0,2,24,1,1,0,0,23
17,Anti-Protestant,42,8,0,0,0,0,0,9,0,1,0,0,25
18,Anti-Islamic (Muslim),165,67,20,0,0,0,16,17,0,0,1,1,45
19,Anti-Other Religion,135,39,4,1,0,0,0,13,0,0,0,0,78
20,"Anti-Multiple Religions, Group",51,15,7,0,0,0,0,6,0,0,0,1,23
21,Anti-Atheism/Agnosticism/etc.,7,0,2,0,0,0,0,1,0,0,0,0,4
22,Sexual Orientation:,1402,564,329,7,11,0,75,149,6,36,0,32,267
23,Anti-Gay (Male),849,334,208,4,9,0,51,95,2,19,0,25,148
24,Anti-Lesbian,185,81,41,2,1,0,10,18,0,6,0,3,32
25,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",317,126,73,0,1,0,14,29,3,8,0,2,74
26,Anti-Heterosexual,24,10,3,0,0,0,0,5,0,1,0,2,6
27,Anti-Bisexual,27,13,4,1,0,0,0,2,1,2,0,0,7
28,Ethnicity:,794,365,203,8,3,1,20,53,1,52,2,15,141
29,Anti-Hispanic or Latino,418,220,97,4,2,1,14,12,1,13,2,2,68
30,Anti-Not Hispanic or Latino2,376,145,106,4,1,0,6,41,0,39,0,13,73
31,Disability:,92,32,21,1,5,0,4,8,0,4,0,0,21
32,Anti-Physical,23,10,7,0,0,0,1,1,0,0,0,0,4
33,Anti-Mental,69,22,14,1,5,0,3,7,0,4,0,0,17
34,Gender:,30,22,4,0,0,0,0,3,0,1,0,2,1
35,Anti-Male,5,2,1,0,0,0,0,2,0,0,0,2,NaN
36,Anti-Female,25,20,3,0,0,0,0,1,0,1,0,0,1
37,Gender Identity:,33,8,18,0,0,0,1,2,0,10,0,5,4
38,Anti-Transgender,25,4,17,0,0,0,0,0,0,9,0,5,4
39,Anti-Gender Non-Conforming,8,4,1,0,0,0,1,2,0,1,0,0,0
40,Multiple-Bias Incidents3,12,8,2,0,0,0,0,0,0,0,0,0,2

In [228]:
table_10_2012 = pandas.read_excel('Table_10_Incidents_Bias_Motivation_by_Location_2012.xls')
table_10_2012.rename(columns = {'Table 10' : 'Location'}).rename(columns = {'Unnamed: 1' : 'Total Incidents'}).rename(columns = {'Unnamed: 2': 'Race'}).rename(columns = {'Unnamed: 3': 'Religion'}).rename(columns = {'Unnamed: 4': 'Sexual Orientation'}).rename(columns = {'Unnamed: 5': 'Ethnicity'}).rename(columns = {'Unnamed: 6': 'Disability'}).rename(columns = {'Unnamed: 7': 'Gender'}).rename(columns = {'Unnamed: 8': 'Gender Identity'}).rename(columns = {'Unnamed: 9':'Multiple Bias Incidents'}).drop(0).drop(1).drop(2).drop(3).drop(4).drop(48).drop(49)

,Location,Total Incidents,Race,Religion,Sexual Orientation,Ethnicity,Disability,Gender
5,Total,5796,2797,1099,1135,667,92,6
6,Abandoned/condemned structure,4,2,0,0,2,0,0
7,Air/bus/train terminal,75,40,2,22,6,5,0
8,Amusement park,2,2,0,0,0,0,0
9,ATM separate from bank,1,1,0,0,0,0,0
10,Auto dealership new/used,2,1,1,0,0,0,0
11,Bank/savings and loan,15,7,4,1,2,1,0
12,Bar/nightclub,105,46,1,41,14,3,0
13,Camp/campground,4,0,2,1,1,0,0
14,Church/synagogue/temple/mosque,235,20,200,5,9,0,1
15,Commercial office building,95,40,14,28,13,0,0
16,Construction site,12,8,1,1,2,0,0
17,Convenience store,72,35,9,14,14,0,0
18,Daycare facility,3,1,2,0,0,0,0
19,Department/discount store,51,30,6,10,3,2,0
20,Dock/wharf/freight/modal terminal,1,1,0,0,0,0,0
21,Drug store/Doctor's office/hospital,44,27,7,1,7,1,1
22,Farm facility,3,3,0,0,0,0,0
23,Field/woods,48,21,11,10,4,2,0
24,Gambling facility/casino/race track,3,2,1,0,0,0,0
25,Government/public building,66,47,9,5,4,1,0
26,Grocery/supermarket,52,39,2,6,4,1,0
27,Highway/road/alley/street/sidewalk,1058,556,78,268,140,15,1
28,Hotel/motel/etc.,39,17,4,8,10,0,0
29,Industrial site,5,1,3,0,1,0,0
30,Jail/prison/penitentiary/corrections facility,46,25,5,7,9,0,0
31,Lake/waterway/beach,10,4,2,4,0,0,0
32,Liquor store,10,6,1,1,2,0,0
33,Park/playground,53,36,8,4,5,0,0
34,Parking/drop lot/garage,330,191,24,67,46,2,0
35,Rental storage facility,5,2,1,0,1,1,0
36,Residence/home,1887,978,293,355,213,45,3
37,Rest area,7,6,0,1,0,0,0
38,Restaurant,103,53,9,26,14,1,0
39,School/college2,222,118,36,52,15,1,0
40,Schoolcollege/university,76,29,19,15,12,1,0
41,Schoolelementary/secondary,185,104,26,31,22,2,0
42,Service/gas station,39,18,6,5,9,1,0
43,Sheltermission/homeless,1,1,0,0,0,0,0
44,Shopping mall,27,10,6,8,3,0,0
45,"Specialty store (TV, fur, etc.)",51,24,11,3,12,1,0
46,Other/unknown,743,243,293,133,68,6,0
47,Multiple locations,6,2,2,2,0,0,0

In [227]:
table_9_2012 = pandas.read_excel('Table_9_Known_Offenders_Known_Offenders_Race_2012.xls')
table_9_2012.drop(9).drop(10).rename(columns = {'Table 9': "Known Offenders"}).rename(columns = {'Unnamed: 1': 'Total'}).drop(0).drop(1)

                  Known Offenders   Total
2                           Total  5331.0
3                           White  2909.0
4                           Black  1242.0
5  American Indian/Alaskan Native    49.0
6          Asian/Pacific Islander    47.0
7          Multiple Races, Group2   471.0
8                    Unknown Race   613.0

In [242]:
table_5_2012.rename(columns = {'Table 5': 'Bias Motivation'}).rename(columns = {'Unnamed: 1': 'Total Offenses'}).rename(columns = {'Unnamed: 2': 'White'}).rename(columns = {'Unnamed: 3': 'Black or African American'}).rename(columns = {'Unnamed: 4': 'American Indian or Alaska Native'}).rename(columns = {'Unnamed: 5': 'Asian and Pacific Islander'}).rename(columns = {'Unnamed: 6': 'Multiple Races'}).rename(columns = {'Unnamed: 7': 'Unknown Race'}).rename(columns = {'Unnamed: 8': 'Unknown Offender'}).drop(0).drop(1).drop(2).drop(3).drop(4).drop(34)

,Bias Motivation,Total Offenses,White,Black or African American,American Indian or Alaska Native,Asian and Pacific Islander,Multiple Races,Unknown Race,Unknown Offender
5,Total,6718,2793,992,51,40,229,571,2042
6,Single-Bias Incidents,6705,2786,990,49,40,227,571,2042
7,Race:,3297,1572,492,37,18,103,274,801
8,Anti-White,739,209,305,21,3,20,58,123
9,Anti-Black,2180,1206,141,12,10,70,173,568
10,Anti-American Indian/Alaskan Native,109,47,14,3,3,3,13,26
11,Anti-Asian/Pacific Islander,134,64,18,0,1,2,17,32
12,"Anti-Multiple Races, Group",135,46,14,1,1,8,13,52
13,Religion:,1166,245,46,2,7,34,103,729
14,Anti-Jewish,696,101,20,0,4,20,45,506
15,Anti-Catholic,79,23,1,1,0,0,9,45
16,Anti-Protestant,34,10,4,1,0,1,5,13
17,Anti-Islamic,149,61,10,0,2,8,19,49
18,Anti-Other Religion,107,31,2,0,0,1,12,61
19,"Anti-Multiple Religions, Group",89,14,8,0,1,3,11,52
20,Anti-Atheism/Agnosticism/etc.,12,5,1,0,0,1,2,3
21,Sexual Orientation:,1318,506,315,5,9,70,116,297
22,Anti-Male Homosexual,720,277,193,4,5,53,46,142
23,Anti-Female Homosexual,162,52,38,0,2,3,14,53
24,Anti-Homosexual,369,148,73,1,2,11,52,82
25,Anti-Heterosexual,26,11,5,0,0,0,3,7
26,Anti-Bisexual,41,18,6,0,0,3,1,13
27,Ethnicity/National Origin:,822,413,117,4,6,17,71,194
28,Anti-Hispanic,488,278,67,2,3,9,31,98
29,Anti-Other Ethnicity/National Origin,334,135,50,2,3,8,40,96
30,Disability:,102,50,20,1,0,3,7,21
31,Anti-Physical,20,12,3,0,0,0,1,4
32,Anti-Mental,82,38,17,1,0,3,6,17
33,Multiple-Bias Incidents1,13,7,2,2,0,2,0,0

In [247]:
table_10_2011 = pandas.read_excel('Table_10_Incidents_Bias_Motivation_by_Location_2011.xls')
table_10_2011.rename(columns = {'Table 10': 'Location'}).rename(columns = {'Unnamed: 1': 'Total Incidents'}).rename(columns = {'Unnamed: 2':'Race'}).rename(columns = {'Unnamed: 3':'Religion'}).rename(columns = {'Unnamed: 4':'Sexual Orientation'}).rename(columns = {'Unnamed: 5': 'Ethnicity'}).rename(columns = {'Unnamed: 6':'Disability'}).rename(columns = {'Unnamed: 7': 'Multiple Bias Incidents'}).drop(0).drop(1).drop(2).drop(3).drop(48).drop(49)

,Location,Total Incidents,Race,Religion,Sexual Orientation,Ethnicity,Disability,Multiple Bias Incidents
4,Total,6222,2917,1233,1293,720,53,6
5,Abandoned/condemned structure,2,0,1,1,0,0,0
6,Air/bus/train terminal,59,32,4,14,8,1,0
7,Amusement park,2,0,1,0,1,0,0
8,Arena/stadium/fairgrounds/coliseum,2,2,0,0,0,0,0
9,ATM separate from bank,1,1,0,0,0,0,0
10,Auto dealership new/used,2,0,1,1,0,0,0
11,Bank/savings and loan,13,10,2,0,1,0,0
12,Bar/nightclub,153,66,6,64,16,1,0
13,Camp/campground,2,0,0,2,0,0,0
14,Church/synagogue/temple/mosque,276,25,237,7,7,0,0
15,Commercial office building,114,55,32,12,15,0,0
16,Construction site,8,3,2,1,2,0,0
17,Convenience store,79,35,10,12,22,0,0
18,Daycare facility,1,0,0,1,0,0,0
19,Department/discount store,72,39,15,12,6,0,0
20,Drug store/Doctor's office/hospital,62,30,14,7,7,4,0
21,Farm facility,2,0,1,1,0,0,0
22,Field/woods,52,26,9,10,7,0,0
23,Gambling facility/casino/race track,1,0,0,0,1,0,0
24,Government/public building,89,51,20,10,8,0,0
25,Grocery/supermarket,59,36,4,6,12,1,0
26,Highway/road/alley/street/sidewalk,1121,562,96,309,143,9,2
27,Hotel/motel/etc.,43,28,2,5,7,1,0
28,Industrial site,3,2,0,0,1,0,0
29,Jail/prison/penitentiary/corrections facility,38,24,1,7,5,1,0
30,Lake/waterway/beach,14,6,2,2,4,0,0
31,Liquor store,10,7,1,0,2,0,0
32,Park/playground,36,19,4,6,7,0,0
33,Parking/drop lot/garage,366,183,30,90,59,4,0
34,Rental storage facility,13,7,0,3,3,0,0
35,Residence/home,1993,984,353,413,221,20,2
36,Rest area,5,4,0,1,0,0,0
37,Restaurant,115,60,11,21,23,0,0
38,School/college2,375,175,89,77,30,4,0
39,Schoolcollege/university,53,28,8,12,5,0,0
40,Schoolelementary/secondary,150,73,35,30,10,1,1
41,Service/gas station,48,25,9,3,11,0,0
42,Sheltermission/homeless,1,1,0,0,0,0,0
43,Shopping mall,27,14,3,5,4,1,0
44,"Specialty store (TV, fur, etc.)",48,20,11,9,7,1,0
45,Tribal Lands,1,0,0,1,0,0,0
46,Other/unknown,704,279,219,138,64,4,0
47,Multiple locations,7,5,0,0,1,0,1

In [249]:
table_9_2011 = pandas.read_excel('Table_9_Known_Offenders_Known_Offenders_Race_2011.xls')
table_9_2011.rename(columns = {'Table 9':'Known Offender Race'}).rename(columns = {'Unnamed: 1':'Total'}).drop(0).drop(1).drop(9).drop(10)

              Known Offender Race   Total
2                           Total  5731.0
3                           White  3384.0
4                           Black  1195.0
5  American Indian/Alaskan Native    46.0
6          Asian/Pacific Islander    83.0
7          Multiple Races, Group2   406.0
8                    Unknown Race   617.0

In [252]:
table_5_2011 = pandas.read_excel('Table_5_Offenses_Known_Offenders_Race_by_Bias_Motivation_2011.xls')
table_5_2011.rename(columns = {'Table 5':'Bias Motivation'}).rename(columns = {'Unnamed: 1':'Total Offenses'}).rename(columns = {'Unnamed: 2':'White'}).rename(columns = {'Unnamed: 3':'Black'}).rename(columns = {'Unnamed: 4': 'American Indian or Alaska Native'}).rename(columns = {'Unnamed: 5': 'Asian or Pacific Islander'}).rename(columns = {'Unnamed: 6': 'Multiple Race Groups'}).rename(columns = {'Unnamed: 7': 'Unknown Race'}).rename(columns = {'Unnamed: 8': 'Unknown Offender'}).drop(0).drop(1).drop(2).drop(3).drop(33)

,Bias Motivation,Total Offenses,White,Black,American Indian or Alaska Native,Asian or Pacific Islander,Multiple Race Groups,Unknown Race,Unknown Offender
4,Total,7254,3101,902,43,64,207,563,2374
5,Single-Bias Incidents,7240,3092,899,43,64,207,563,2372
6,Race:,3465,1663,410,21,35,109,239,988
7,Anti-White,577,103,287,13,5,13,47,109
8,Anti-Black,2494,1416,76,4,29,89,157,723
9,Anti-American Indian/Alaskan Native,67,25,15,4,0,1,6,16
10,Anti-Asian/Pacific Islander,165,76,22,0,1,2,15,49
11,"Anti-Multiple Races, Group",162,43,10,0,0,4,14,91
12,Religion:,1318,279,42,5,9,23,129,831
13,Anti-Jewish,820,139,16,1,2,7,79,576
14,Anti-Catholic,68,7,0,1,1,2,4,53
15,Anti-Protestant,49,12,0,0,0,1,9,27
16,Anti-Islamic,175,72,15,3,3,9,20,53
17,Anti-Other Religion,139,31,3,0,3,4,12,86
18,"Anti-Multiple Religions, Group",63,18,8,0,0,0,4,33
19,Anti-Atheism/Agnosticism/etc.,4,0,0,0,0,0,1,3
20,Sexual Orientation:,1508,644,343,10,12,61,128,310
21,Anti-Male Homosexual,871,358,218,7,7,43,79,159
22,Anti-Female Homosexual,168,67,47,2,2,1,9,40
23,Anti-Homosexual,429,201,65,1,3,16,38,105
24,Anti-Heterosexual,17,5,9,0,0,0,1,2
25,Anti-Bisexual,23,13,4,0,0,1,1,4
26,Ethnicity/National Origin:,891,471,96,7,8,13,61,235
27,Anti-Hispanic,506,290,64,5,2,7,28,110
28,Anti-Other Ethnicity/National Origin,385,181,32,2,6,6,33,125
29,Disability:,58,35,8,0,0,1,6,8
30,Anti-Physical,23,11,2,0,0,0,5,5
31,Anti-Mental,35,24,6,0,0,1,1,3
32,Multiple-Bias Incidents1,14,9,3,0,0,0,0,2

In [262]:
table_10_2010 = pandas.read_excel('Table 10-Incidents-Bias Motivation-by Location 2010.xls')
table_10_2010.drop(0).drop(1).drop(2).drop(35).rename(columns = {'Table 10': 'Location'}).rename(columns = {'Unnamed: 1': 'Total Incidents'}).rename(columns = {'Unnamed: 2':'Race'}).rename(columns = {'Unnamed: 3':'Religion'}).rename(columns = {'Unnamed: 4':'Sexual Orientation'}).rename(columns = {'Unnamed: 5': 'Ethnicity'}).rename(columns = {'Unnamed: 6':'Disability'}).rename(columns = {'Unnamed: 7': 'Multiple Bias Incidents'}).rename(columns = { 'Table 10': 'Location'})

,Table 10,Total Incidents,Race,Religion,Sexual Orientation,Ethnicity,Disability,Multiple Bias Incidents
3,Total,6628,3135,1322,1277,847,43,4
4,Air/bus/train terminal,70,31,8,21,9,1,0
5,Bank/savings and loan,12,7,1,2,2,0,0
6,Bar/nightclub,144,54,7,62,20,0,1
7,Camp/campground,1,0,0,0,1,0,0
8,Church/synagogue/temple,244,26,207,7,4,0,0
9,Commercial office building,123,63,20,16,23,1,0
10,Construction site,11,7,0,1,3,0,0
11,Convenience store,68,33,8,9,17,1,0
12,Department/discount store,72,34,15,14,9,0,0
13,Drug store/Doctor's office/hospital,55,24,22,5,3,1,0
14,Field/woods,65,34,9,14,8,0,0
15,Gambling facility/casino/race track,1,1,0,0,0,0,0
16,Government/public building,106,58,22,15,11,0,0
17,Grocery/supermarket,39,18,4,8,9,0,0
18,Highway/road/alley/street,1127,593,109,268,148,9,0
19,Hotel/motel/etc.,38,21,3,7,6,1,0
20,Industrial site,1,0,1,0,0,0,0
21,Jail/prison,52,35,2,10,5,0,0
22,Lake/waterway,14,8,3,3,0,0,0
23,Liquor store,8,4,1,2,1,0,0
24,Parking lot/garage,385,188,45,88,63,1,0
25,Park/playground,2,2,0,0,0,0,0
26,Rental storage facility,5,1,2,1,1,0,0
27,Residence/home,2079,1052,352,399,261,14,1
28,Restaurant,107,54,8,21,23,1,0
29,School/college,724,368,168,107,71,9,1
30,Service/gas station,59,30,8,9,12,0,0
31,Shopping mall,2,1,0,1,0,0,0
32,"Specialty store (TV, fur, etc.)",55,21,14,10,10,0,0
33,Other/unknown,950,361,283,177,125,4,0
34,Multiple locations,9,6,0,0,2,0,1

In [266]:
table_9_2010 = pandas.read_excel('Table 9-Known Offenders-Known Offenders Race 2010.xls')
table_9_2010.rename(columns = {'Table 9': 'Known Offender Race'}).rename(columns = {'Unnamed: 1': 'Total'}).drop(0).drop(8).drop(9)

              Known Offender Race   Total
1                           Total  6008.0
2                           White  3522.0
3                           Black  1104.0
4  American Indian/Alaskan Native    61.0
5          Asian/Pacific Islander    65.0
6          Multiple Races, Group2   534.0
7                    Unknown Race   722.0

In [268]:
table_5_2010 = pandas.read_excel('Table 5-Offenses-Known Offenders Race-by Bias Motivation 2010.xls')
table_5_2010.rename(columns = {'Table 5':'Bias Motivation'}).rename(columns = {'Unnamed: 1':'Total Offenses'}).rename(columns = {'Unnamed: 2':'White'}).rename(columns = {'Unnamed: 3':'Black'}).rename(columns = {'Unnamed: 4': 'American Indian and Alaska Native'}).rename(columns = {'Unnamed: 5': 'Asian and Pacific Islander'}).rename(columns = {'Unnamed: 6': 'Multiple Race Groups'}).rename(columns = {'Unnamed: 7': 'Unknown Race'}).rename(columns = {'Unnamed: 8': 'Unknown Offender'}).drop(0).drop(1).drop(2).drop(32)

,Table 5,Total Offenses,White,Black,American Indian and Alaska Native,Asian and Pacific Islander,Multiple Race Groups,Unknown Race,Unknown Offender
3,Total,7699,3176,905,52,61,238,597,2670
4,Single-Bias Incidents,7690,3173,905,52,61,236,597,2666
5,Race:,3725,1700,383,36,30,97,298,1181
6,Anti-White,679,112,303,18,5,23,67,151
7,Anti-Black,2600,1417,56,11,20,54,184,858
8,Anti-American Indian/Alaskan Native,45,19,2,5,2,1,2,14
9,Anti-Asian/Pacific Islander,190,83,13,0,3,13,17,61
10,"Anti-Multiple Races, Group",211,69,9,2,0,6,28,97
11,Religion:,1409,270,73,1,5,33,112,915
12,Anti-Jewish,922,134,25,0,3,23,62,675
13,Anti-Catholic,61,8,7,0,0,0,8,38
14,Anti-Protestant,46,2,1,0,0,0,3,40
15,Anti-Islamic,186,77,21,0,1,6,16,65
16,Anti-Other Religion,134,32,7,1,1,4,15,74
17,"Anti-Multiple Religions, Group",53,14,11,0,0,0,5,23
18,Anti-Atheism/Agnosticism/etc.,7,3,1,0,0,0,3,0
19,Sexual Orientation:,1470,638,310,5,12,56,121,328
20,Anti-Male Homosexual,851,357,199,1,6,45,64,179
21,Anti-Female Homosexual,167,78,32,0,1,3,12,41
22,Anti-Homosexual,403,178,76,4,5,5,38,97
23,Anti-Heterosexual,21,10,2,0,0,0,3,6
24,Anti-Bisexual,28,15,1,0,0,3,4,5
25,Ethnicity/National Origin:,1040,540,129,10,14,45,66,236
26,Anti-Hispanic,681,367,100,8,2,30,41,133
27,Anti-Other Ethnicity/National Origin,359,173,29,2,12,15,25,103
28,Disability:,46,25,10,0,0,5,0,6
29,Anti-Physical,22,11,5,0,0,3,0,3
30,Anti-Mental,24,14,5,0,0,2,0,3
31,Multiple-Bias Incidents1,9,3,0,0,0,2,0,4