In [1]:
import os
import pandas as pd
import numpy as np
import re 
import tabula

In [46]:
df_00 = tabula.read_pdf("2000.pdf", pages='11-12')
t1_00 = df_00[0]
t2_00 = df_00[1]

df_01 = tabula.read_pdf("2001.pdf", pages='13-14')
t1_01 = df_01[0]
t2_01 = df_01[1]

df_02 = tabula.read_pdf("2002.pdf", pages='13-14')
t1_02 = df_02[0]
t2_02 = df_02[1]

df_03 = tabula.read_pdf("2003.pdf", pages='15-16')
t1_03 = df_03[0]
t2_03 = df_03[1]

Got stderr: Feb 21, 2020 10:52:21 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font PABKNK+Times-Roman
Feb 21, 2020 10:52:21 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font ZIWIXQ+Times-Bold
Feb 21, 2020 10:52:21 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font TRWYRC+Times-Italic
Feb 21, 2020 10:52:22 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font PABKNK+Times-Roman
Feb 21, 2020 10:52:22 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font ZIWIXQ+Times-Bold
Feb 21, 2020 10:52:22 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font TRWYRC+Times-Italic

Got stderr: Feb 21, 2020 10:52:27 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font KOUICY+Helvetica
Feb 21, 2020 10:52:28 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font TXYOYG+Helvetica-Bold
Feb 21, 2020 10:52:28 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font SDPZKI+Times-Bold
Feb 21, 2020 10:52:28 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font AGZKSS+Times-Roman
Feb 21, 2020 10:52:28 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font CZZRUO+Times-Italic
Feb 21, 2020 10:52:29 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font AGZKSS+Times-Roman
Feb 21, 2020 10:52:29 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font KOUICY+Helvetica
Feb 21, 2020 10:52:29 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font TXYOYG+Helvetica-Bold
Feb 21, 2020 10:52:29 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font SDPZKI+Times-Bold
Feb 21, 2020 10:52:29 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font CZZRUO+Times-Italic

Got stderr: Feb 21, 2020 10:52:34 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font VFNXQD+Times-Roman
Feb 21, 2020 10:52:34 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font NJNWIT+Helvetica
Feb 21, 2020 10:52:34 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font HSNMCF+Helvetica-Bold
Feb 21, 2020 10:52:34 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font NJNWIT+Times-Bold
Feb 21, 2020 10:52:34 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font RHNUML+Times-Italic
Feb 21, 2020 10:52:35 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font VFNXQD+Times-Roman
Feb 21, 2020 10:52:35 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font NJNWIT+Helvetica
Feb 21, 2020 10:52:35 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font HSNMCF+Helvetica-Bold
Feb 21, 2020 10:52:35 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font NJNWIT+Times-Bold
Feb 21, 2020 10:52:35 AM org.apache.pdfbox.rendering.CIDType0Glyph2D getPathForCharacterCode
WARNING: No glyph for 0 (CID 0000) in font RHNUML+Times-Italic

In [29]:
#cleaning table 1
early_years = [t1_00, t1_01, t1_02]
for index, df in enumerate(early_years):
    early_years[index] = df.rename(columns={"Incidents, Offenses, Victims, and Known Offenders": "Bias motivation", "Unnamed: 0": "Offenses", 
                  "Unnamed: 1": "Victims", "Unnamed: 2": "Known Offenders"}) #missing incidents
    early_years[index] = early_years[index].loc[6:30, :]
    early_years[index]['Bias motivation'] = early_years[index]['Bias motivation'].str.replace('\d+', '')
    early_years[index]['Bias motivation'] = early_years[index]['Bias motivation'].str.replace(',', '')
    early_years[index] = early_years[index].set_index("Bias motivation")
    early_years[index] = early_years[index].drop([early_years[index].index[5], early_years[index].index[13],
                                                  early_years[index].index[-3], early_years[index].index[-6]])
[t1_00, t1_01, t1_02] = early_years

In [47]:
t1_03 = t1_03.rename(columns={"Incidents, Offenses, Victims, and Known Offenders": "Bias motivation", "Unnamed: 0": "Offenses", 
                  "Unnamed: 1": "Victims", "Unnamed: 2": "Known Offenders"})
t1_03 = t1_03.loc[6:31, :]
t1_03['Bias motivation'] = t1_03['Bias motivation'].str.replace('\d+', '')
t1_03['Bias motivation'] = t1_03['Bias motivation'].str.replace(',', '')
t1_03 = t1_03.set_index('Bias motivation')
t1_03 = t1_03.drop(t1_03.index[-3])
t1_03 = t1_03.drop(t1_03.index[5])
t1_03 = t1_03.drop(t1_03.index[12])
t1_03 = t1_03.drop(t1_03.index[-6])

t1_03 = t1_03.drop(t1_03.index[1])
t1_03 = t1_03.drop(t1_03.index[-4])

In [48]:
#renaming 2 indices that were cut off 
as_list = t1_03.index.tolist()
idx = as_list.index('Alaskan Native ')
as_list[idx] = 'Anti-American Indian/Alaskan Native'
t1_03.index = as_list

as_list1 = t1_03.index.tolist()
idx1 = as_list1.index('National Origin ')
as_list1[idx1] = 'Anti-Other Ethnicity/National Origin'
t1_03.index = as_list1

In [4]:
incidents_00 = ['875', '2,884', '57', '281', '240', '1,109', '56', '59', '28', '172', '44', '4', '896', '179',
               '182', '22', '20', '557', '354', '20', '16']
t1_00['Incidents'] = incidents_00
t1_00 = t1_00[['Incidents', 'Offenses', 'Victims', 'Known Offenders']]

incidents_01 = ['891', '2,899', '80', '280', '217', '1,043', '38', '35', '481', '181', '45', '5', '980', '205',
                '173', '18', '17', '597', '1,501', '12','23']
t1_01['Incidents'] = incidents_01
t1_01 = t1_01[['Incidents', 'Offenses', 'Victims', 'Known Offenders']]

incidents_02 = ['719', '2,486', '62', '217', '158', '931', '53', '55', '155', '198', '31', '3', '825', '172', '222',
               '10', '15', '480', '622', '20', '25']
t1_02['Incidents'] = incidents_02
t1_02 = t1_02[['Incidents', 'Offenses', 'Victims', 'Known Offenders']]

incidents_03 = ['830', '2,548', '76', '231', '159', '927', '76', '49', '149', '109', '24', '9', '783', '187', '247', 
               '14', '8', '426', '600', '24', '9']
t1_03['Incidents'] = incidents_03
t1_03 = t1_03[['Incidents', 'Offenses', 'Victims', 'Known Offenders']]

In [9]:
t1_03

                               Incidents Offenses Victims Known Offenders
Bias motivation
Anti-Black                           830    3,032   3,150           2,456
Anti-American Indian/              2,548      NaN     NaN             NaN
Alaskan Native                        76       83      85              80
Anti-Asian/Pacific Islander          231      277     289             196
Anti-Multiple Races Group            159      213     224             135
Anti-Jewish                          927      987   1,025             332
Anti-Catholic                         76       78      80              32
Anti-Protestant                       49       50      54              20
Anti-Islamic                         149      155     171              94
Anti-Other Religion                  109      118     120              69
Anti-Multiple Religions Group         24       25      26              17
Anti-Atheism/Agnosticism/etc.          9       13      13              10
Anti-Male Homosexual                 783      881     910             863
Anti-Female Homosexual               187      220     230             167
Anti-Homosexual                      247      305     314             257
Anti-Heterosexual                     14       15      15              10
Anti-Bisexual                          8        9      10              16
Anti-Hispanic                        426      529     595             577
Anti-Other Ethnicity/                600      NaN     NaN             NaN
Disability:                           24       40      43              35
Anti-Physical                          9       30      32              24

In [37]:
#loading in the datasets

#table 1 
t1_04 = pd.read_excel('2004/Table1.xls')
t1_05 = pd.read_excel('2005/Table1.xls')
t1_06 = pd.read_excel('2006/Table1.xls')
t1_07 = pd.read_excel('2007/Table1.xls')
t1_08 = pd.read_excel('2008/Table1.xls')
t1_09 = pd.read_excel('2009/Table 1.xls')
t1_10 = pd.read_excel('2010/Table1.xls')
t1_11 = pd.read_excel('2011/Table1.xls')
t1_12 = pd.read_excel('2012/Table1.xls')
t1_13 = pd.read_excel('2013/Table1.xls')
t1_14 = pd.read_excel('2014/Table1.xls')
t1_15 = pd.read_excel('2015/Table1.xls')
t1_16 = pd.read_excel('2016/Table1.xls')
t1_17 = pd.read_excel('2017/Table1.xls')
t1_18 = pd.read_excel('2018/Table1.xls')

#table 2 
t2_04 = pd.read_excel('2004/Table2.xls')
t2_05 = pd.read_excel('2005/Table2.xls')
t2_06 = pd.read_excel('2006/Table2.xls')
t2_07 = pd.read_excel('2007/Table2.xls')
t2_08 = pd.read_excel('2008/Table2.xls')
t2_09 = pd.read_excel('2009/Table 2.xls')
t2_10 = pd.read_excel('2010/Table2.xls')
t2_11 = pd.read_excel('2011/Table2.xls')
t2_12 = pd.read_excel('2012/Table2.xls')
t2_13 = pd.read_excel('2013/Table2.xls')
t2_14 = pd.read_excel('2014/Table2.xls')
t2_15 = pd.read_excel('2015/Table2.xls')
t2_16 = pd.read_excel('2016/Table2.xls')
t2_17 = pd.read_excel('2017/Table2.xls')
t2_18 = pd.read_excel('2018/Table2.xls')

In [38]:
#cleaning table 1
table1 = [t1_04, t1_05, t1_06, t1_07, t1_08, t1_09]
for index, df in enumerate(table1):
    table1[index] = df.rename(columns={"Table 1": "Bias motivation", "Unnamed: 1": "Incidents", "Unnamed: 2": "Offenses", 
                  "Unnamed: 3": "Victims", "Unnamed: 4": "Known Offenders"})
    table1[index] = table1[index].loc[5:30, :].set_index('Bias motivation')
    table1[index] = table1[index].rename(index=lambda s: re.sub(r'\d+$', '', s)) #removing any digits inside the index column 
[t1_04, t1_05, t1_06, t1_07, t1_08, t1_09] = table1

In [39]:
#cleaning table 1
table1 = [t1_10, t1_11, t1_12, t1_13, t1_14, t1_15, t1_16, t1_17, t1_18]
for index, df in enumerate(table1):
    table1[index] = df.rename(columns={"Table 1 ": "Bias motivation", "Unnamed: 1": "Incidents", "Unnamed: 2": "Offenses", 
                  "Unnamed: 3": "Victims", "Unnamed: 4": "Known Offenders"})
    table1[index] = table1[index].loc[5:30, :].set_index('Bias motivation')
    table1[index] = table1[index].rename(index=lambda s: re.sub(r'\d+$', '', s)) #removing any digits inside the index column 
[t1_10, t1_11, t1_12, t1_13, t1_14, t1_15, t1_16, t1_17, t1_18] = table1

In [40]:
#drop columns in tables
table1_2 = [t1_10, t1_11, t1_12, t1_13, t1_14, t1_15, t1_16, t1_17, t1_18]
for index, df in enumerate(table1):
    df = df.drop([df.index[5], df.index[13], df.index[-4], df.index[-7]])
    table1_2[index] = df
[t1_10, t1_11, t1_12, t1_13, t1_14, t1_15, t1_16, t1_17, t1_18] = table1_2

In [41]:
#dropping rows that are not needed (the totals)
t1_04 = t1_04.drop(t1_04.index[5])
t1_04 = t1_04.drop(t1_04.index[12])
t1_04 = t1_04.drop(t1_04.index[-4])
t1_04 = t1_04.drop(t1_04.index[-6])

t1_05 = t1_05.drop(t1_05.index[5])
t1_05 = t1_05.drop(t1_05.index[12])
t1_05 = t1_05.drop(t1_05.index[-4])
t1_05 = t1_05.drop(t1_05.index[-6])

t1_06 = t1_06.drop(t1_06.index[5])
t1_06 = t1_06.drop(t1_06.index[12])
t1_06 = t1_06.drop(t1_06.index[-4])
t1_06 = t1_06.drop(t1_06.index[-6])

t1_07 = t1_07.drop(t1_07.index[5])
t1_07 = t1_07.drop(t1_07.index[12])
t1_07 = t1_07.drop(t1_07.index[-4])
t1_07 = t1_07.drop(t1_07.index[-6])

t1_08 = t1_08.drop(t1_08.index[5])
t1_08 = t1_08.drop(t1_08.index[12])
t1_08 = t1_08.drop(t1_08.index[-4])
t1_08 = t1_08.drop(t1_08.index[-6])

t1_09 = t1_09.drop(t1_09.index[5])
t1_09 = t1_09.drop(t1_09.index[12])
t1_09 = t1_09.drop(t1_09.index[-4])
t1_09 = t1_09.drop(t1_09.index[-6])

#### Making different subsets from the original table on the types of hate crimes (race, religion, sexual orientation, etc)

In [11]:
race_04 = t1_04[:5]
race_05 = t1_05[:5]
race_06 = t1_06[:5]
race_07 = t1_07[:5]
race_08 = t1_08[:5]
race_09 = t1_09[:5]

In [12]:
religion_04 = t1_04[5:12]
religion_05 = t1_05[5:12]
religion_06 = t1_06[5:12]
religion_07 = t1_07[5:12]
religion_08 = t1_08[5:12]
religion_09 = t1_09[5:12]

In [13]:
sexual_orientation_04 = t1_04[12:17]
sexual_orientation_05 = t1_05[12:17]
sexual_orientation_06 = t1_06[12:17]
sexual_orientation_07 = t1_07[12:17]
sexual_orientation_08 = t1_08[12:17]
sexual_orientation_09 = t1_09[12:17]

In [14]:
ethnicity_04 = t1_04[17:19]
ethnicity_05 = t1_05[17:19]
ethnicity_06 = t1_06[17:19]
ethnicity_07 = t1_07[17:19]
ethnicity_08 = t1_08[17:19]
ethnicity_09 = t1_09[17:19]

In [15]:
disability_04 = t1_04[-3:-1]
disability_05 = t1_05[-3:-1]
disability_06 = t1_06[-3:-1]
disability_07 = t1_07[-3:-1]
disability_08 = t1_08[-3:-1]
disability_09 = t1_09[-3:-1]

In [18]:
#cleaning table 2 
table2 = [t2_04, t2_05, t2_06, t2_07, t2_08, t2_09]
for index, df in enumerate(table2):
    table2[index] = df.rename(columns={"Table 2": "Offense Type", "Unnamed: 1": "Incidents", "Unnamed: 2": "Offenses", 
                  "Unnamed: 3": "Victims", "Unnamed: 4": "Known Offenders"})
    table2[index] = table2[index].loc[4:18, :].set_index('Offense Type')
    table2[index] = table2[index].rename(index=lambda s: re.sub(r'\d+$', '', s)) #removing any digits inside the index column 
[t2_04, t2_05, t2_06, t2_07, t2_08, t2_09] = table2

In [19]:
crimes_a_persons = t2_04[:6]
crimes_a_property = t2_04[7:14]
crimes_a_society = t2_04[-1:]

In [20]:
t2_04 = t2_04.drop(t2_04.index[6])
t2_04

,Incidents,Offenses,Victims,Known Offenders
Offense Type,,,,
Murder and nonnegligent manslaughter,5,5,5,5
Forcible rape,4,4,4,5
Aggravated assault,765,1040,1040,1316
Simple assault,1448,1750,1750,2190
Intimidation,2267,2827,2827,2173
Other,14,16,16,21
Robbery,112,112,142,241
Burglary,146,146,169,130
Larceny-theft,169,169,186,134
Motor vehicle theft,15,15,15,8
Arson,44,44,57,45
Destruction/damage/vandalism,2812,2812,3220,1115
Other,35,35,37,38
Crimes against society,60,60,60,75