In [3]:
import os
import pandas as pd
import numpy as np
import re 
import tabula

In [4]:
df = tabula.read_pdf("2000.pdf", pages='11-12')
t1_00 = df[0]
t2_00 = df[1]

In [5]:
t1_00.head()
t1_00 = t1_00.rename(columns={"Incidents, Offenses, Victims, and Known Offenders": "Bias motivation", "Unnamed: 0": "Offenses", 
                  "Unnamed: 1": "Victims", "Unnamed: 2": "Known Offenders"}) #missing incidents
t1_00 = t1_00.loc[6:30, :]#.set_index('Bias motivation')
t1_00['Bias motivation'] = t1_00['Bias motivation'].str.replace('\d+', '')
t1_00['Bias motivation'] = t1_00['Bias motivation'].str.replace(',', '')

In [6]:
#loading in the dataset 
#table 1 
t1_04 = pd.read_excel('2004/Table1.xls')
t1_05 = pd.read_excel('2005/Table1.xls')
t1_06 = pd.read_excel('2006/Table1.xls')
t1_07 = pd.read_excel('2007/Table1.xls')
t1_08 = pd.read_excel('2008/Table1.xls')
t1_09 = pd.read_excel('2009/Table 1.xls')
t1_10 = pd.read_excel('2010/Table1.xls')
t1_11 = pd.read_excel('2011/Table1.xls')
t1_12 = pd.read_excel('2012/Table1.xls')
t1_13 = pd.read_excel('2013/Table1.xls')
t1_14 = pd.read_excel('2014/Table1.xls')
t1_15 = pd.read_excel('2015/Table1.xls')
t1_16 = pd.read_excel('2016/Table1.xls')
t1_17 = pd.read_excel('2017/Table1.xls')
t1_18 = pd.read_excel('2018/Table1.xls')

#table 2 
t2_04 = pd.read_excel('2004/Table2.xls')
t2_05 = pd.read_excel('2005/Table2.xls')
t2_06 = pd.read_excel('2006/Table2.xls')
t2_07 = pd.read_excel('2007/Table2.xls')
t2_08 = pd.read_excel('2008/Table2.xls')
t2_09 = pd.read_excel('2009/Table 2.xls')
t2_10 = pd.read_excel('2010/Table2.xls')
t2_11 = pd.read_excel('2011/Table2.xls')
t2_12 = pd.read_excel('2012/Table2.xls')
t2_13 = pd.read_excel('2013/Table2.xls')
t2_14 = pd.read_excel('2014/Table2.xls')
t2_15 = pd.read_excel('2015/Table2.xls')
t2_16 = pd.read_excel('2016/Table2.xls')
t2_17 = pd.read_excel('2017/Table2.xls')
t2_18 = pd.read_excel('2018/Table2.xls')

In [7]:
#cleaning table 1
table1 = [t1_04, t1_05, t1_06, t1_07, t1_08, t1_09]
for index, df in enumerate(table1):
    table1[index] = df.rename(columns={"Table 1": "Bias motivation", "Unnamed: 1": "Incidents", "Unnamed: 2": "Offenses", 
                  "Unnamed: 3": "Victims", "Unnamed: 4": "Known Offenders"})
    table1[index] = table1[index].loc[5:30, :].set_index('Bias motivation')
    table1[index] = table1[index].rename(index=lambda s: re.sub(r'\d+$', '', s)) #removing any digits inside the index column 
[t1_04, t1_05, t1_06, t1_07, t1_08, t1_09] = table1

In [8]:
#cleaning table 1
table1 = [t1_10, t1_11, t1_12, t1_13, t1_14, t1_15, t1_16, t1_17, t1_18]
for index, df in enumerate(table1):
    table1[index] = df.rename(columns={"Table 1 ": "Bias motivation", "Unnamed: 1": "Incidents", "Unnamed: 2": "Offenses", 
                  "Unnamed: 3": "Victims", "Unnamed: 4": "Known Offenders"})
    table1[index] = table1[index].loc[5:30, :].set_index('Bias motivation')
    table1[index] = table1[index].rename(index=lambda s: re.sub(r'\d+$', '', s)) #removing any digits inside the index column 
[t1_10, t1_11, t1_12, t1_13, t1_14, t1_15, t1_16, t1_17, t1_18] = table1

In [9]:
#drop columns in tables
table1_2 = [t1_10, t1_11, t1_12, t1_13, t1_14, t1_15, t1_16, t1_17, t1_18]
for index, df in enumerate(table1):
    df = df.drop([df.index[5], df.index[13], df.index[-4], df.index[-7]])
    table1_2[index] = df
[t1_10, t1_11, t1_12, t1_13, t1_14, t1_15, t1_16, t1_17, t1_18] = table1_2

In [10]:
#dropping rows that are not needed (the totals)
t1_04 = t1_04.drop(t1_04.index[5])
t1_04 = t1_04.drop(t1_04.index[12])
t1_04 = t1_04.drop(t1_04.index[-4])
t1_04 = t1_04.drop(t1_04.index[-6])

t1_05 = t1_05.drop(t1_05.index[5])
t1_05 = t1_05.drop(t1_05.index[12])
t1_05 = t1_05.drop(t1_05.index[-4])
t1_05 = t1_05.drop(t1_05.index[-6])

t1_06 = t1_06.drop(t1_06.index[5])
t1_06 = t1_06.drop(t1_06.index[12])
t1_06 = t1_06.drop(t1_06.index[-4])
t1_06 = t1_06.drop(t1_06.index[-6])

t1_07 = t1_07.drop(t1_07.index[5])
t1_07 = t1_07.drop(t1_07.index[12])
t1_07 = t1_07.drop(t1_07.index[-4])
t1_07 = t1_07.drop(t1_07.index[-6])

t1_08 = t1_08.drop(t1_08.index[5])
t1_08 = t1_08.drop(t1_08.index[12])
t1_08 = t1_08.drop(t1_08.index[-4])
t1_08 = t1_08.drop(t1_08.index[-6])

t1_09 = t1_09.drop(t1_09.index[5])
t1_09 = t1_09.drop(t1_09.index[12])
t1_09 = t1_09.drop(t1_09.index[-4])
t1_09 = t1_09.drop(t1_09.index[-6])

#### Making different subsets from the original table on the types of hate crimes (race, religion, sexual orientation, etc)

In [11]:
race_04 = t1_04[:5]
race_05 = t1_05[:5]
race_06 = t1_06[:5]
race_07 = t1_07[:5]
race_08 = t1_08[:5]
race_09 = t1_09[:5]

In [12]:
religion_04 = t1_04[5:12]
religion_05 = t1_05[5:12]
religion_06 = t1_06[5:12]
religion_07 = t1_07[5:12]
religion_08 = t1_08[5:12]
religion_09 = t1_09[5:12]

In [13]:
sexual_orientation_04 = t1_04[12:17]
sexual_orientation_05 = t1_05[12:17]
sexual_orientation_06 = t1_06[12:17]
sexual_orientation_07 = t1_07[12:17]
sexual_orientation_08 = t1_08[12:17]
sexual_orientation_09 = t1_09[12:17]

In [14]:
ethnicity_04 = t1_04[17:19]
ethnicity_05 = t1_05[17:19]
ethnicity_06 = t1_06[17:19]
ethnicity_07 = t1_07[17:19]
ethnicity_08 = t1_08[17:19]
ethnicity_09 = t1_09[17:19]

In [15]:
disability_04 = t1_04[-3:-1]
disability_05 = t1_05[-3:-1]
disability_06 = t1_06[-3:-1]
disability_07 = t1_07[-3:-1]
disability_08 = t1_08[-3:-1]
disability_09 = t1_09[-3:-1]

In [16]:
ethnicity_sums = [
    ethnicity_04['Victims'].sum(),
    ethnicity_05['Victims'].sum(),
    ethnicity_06['Victims'].sum(),
    ethnicity_07['Victims'].sum(),
    ethnicity_08['Victims'].sum(),
    ethnicity_09['Victims'].sum()
]
total_ethnicity = np.sum(ethnicity_sums)/len(ethnicity_sums)
ethnicity_sums/total_ethnicity

array([1.00736377, 0.98647744, 1.04833311, 1.08207257, 0.9848708 ,
       0.89088231])

In [17]:
N = 6
menMeans = (20, 35, 30, 35, 27)
womenMeans = (25, 32, 34, 20, 25)
menStd = (2, 3, 4, 1, 2)
womenStd = (3, 5, 2, 3, 3)
ind = np.arange(N)    # the x locations for the groups
width = 0.35       # the width of the bars: can also be len(x) sequence

p1 = plt.bar(ind, menMeans, width, yerr=menStd)
p2 = plt.bar(ind, womenMeans, width,
             bottom=menMeans, yerr=womenStd)

NameError: name 'plt' is not defined

In [18]:
#cleaning table 2 
table2 = [t2_04, t2_05, t2_06, t2_07, t2_08, t2_09]
for index, df in enumerate(table2):
    table2[index] = df.rename(columns={"Table 2": "Offense Type", "Unnamed: 1": "Incidents", "Unnamed: 2": "Offenses", 
                  "Unnamed: 3": "Victims", "Unnamed: 4": "Known Offenders"})
    table2[index] = table2[index].loc[4:18, :].set_index('Offense Type')
    table2[index] = table2[index].rename(index=lambda s: re.sub(r'\d+$', '', s)) #removing any digits inside the index column 
[t2_04, t2_05, t2_06, t2_07, t2_08, t2_09] = table2

In [19]:
crimes_a_persons = t2_04[:6]
crimes_a_property = t2_04[7:14]
crimes_a_society = t2_04[-1:]

In [20]:
t2_04 = t2_04.drop(t2_04.index[6])
t2_04

,Incidents,Offenses,Victims,Known Offenders
Offense Type,,,,
Murder and nonnegligent manslaughter,5,5,5,5
Forcible rape,4,4,4,5
Aggravated assault,765,1040,1040,1316
Simple assault,1448,1750,1750,2190
Intimidation,2267,2827,2827,2173
Other,14,16,16,21
Robbery,112,112,142,241
Burglary,146,146,169,130
Larceny-theft,169,169,186,134
Motor vehicle theft,15,15,15,8
Arson,44,44,57,45
Destruction/damage/vandalism,2812,2812,3220,1115
Other,35,35,37,38
Crimes against society,60,60,60,75