In [1]:
import os
import pandas as pd
import numpy as np
import re
import plotly.graph_objects as go

In [2]:
ml = pd.read_csv('merged.csv')

In [3]:
#states = ml.get("STATE")
#states.values

In [4]:
ml.groupby('STATE').count()

,AGENCY IDENTIFIER,BIAS MOTIVATION,CITY,JUDICIAL DISTRICT,LOCATION,POPULATION,QUARTER,REGION,YEAR
STATE,,,,,,,,,
AK,142,142,142,142,142,142,142,142,142
AL,180,180,180,180,180,180,180,180,180
AR,892,887,892,892,892,892,892,892,892
AZ,3700,3688,3700,3700,3700,3700,3700,3700,3700
CA,21589,21565,21589,21581,21589,21589,21589,21589,21589
CO,2205,2199,2205,2205,2205,2205,2205,2205,2205
CT,2321,2311,2321,2321,2321,2321,2321,2321,2321
DC,869,868,869,869,869,869,869,869,869
DE,447,446,447,447,447,447,447,447,447
FL,2927,2926,2927,2926,2927,2927,2927,2927,2927
GA,456,453,456,456,456,456,456,456,456
GM,5,5,5,0,5,5,5,5,5
IA,398,397,398,398,398,398,398,398,398
ID,552,551,552,552,552,552,552,552,552
IL,2418,2414,2418,2418,2418,2418,2418,2418,2418
IN,1111,1107,1111,1110,1111,1111,1111,1111,1111
KS,1252,1248,1252,1252,1252,1252,1252,1252,1252
KY,2024,2013,2024,2024,2024,2024,2024,2024,2024
LA,333,332,333,330,333,333,333,333,333
MA,6477,6460,6477,6477,6477,6477,6477,6477,6477
MD,2222,2219,2222,2222,2222,2222,2222,2222,2222
ME,842,842,842,842,842,842,842,842,842
MI,7700,7666,7700,7700,7700,7700,7700,7700,7700
MN,2670,2660,2670,2670,2670,2670,2670,2670,2670
MO,1548,1546,1548,1548,1548,1548,1548,1548,1548
MS,72,72,72,72,72,72,72,72,72
MT,485,476,485,485,485,485,485,485,485
NB,748,748,748,748,748,748,748,748,748
NC,1704,1702,1704,1704,1704,1704,1704,1704,1704
ND,355,350,355,355,355,355,355,355,355
NH,508,504,508,508,508,508,508,508,508
NJ,9808,9798,9808,9808,9808,9808,9808,9808,9808
NM,276,276,276,276,276,276,276,276,276
NV,1240,1238,1240,1240,1240,1240,1240,1240,1240
NY,9694,9690,9694,9694,9694,9694,9694,9694,9694
OH,5275,5239,5275,5275,5275,5275,5275,5275,5275
OK,737,735,737,737,737,737,737,737,737
OR,2021,2017,2021,2021,2021,2021,2021,2021,2021
PA,1387,1387,1387,1387,1387,1387,1387,1387,1387
RI,467,466,467,466,467,467,467,467,467
SC,1433,1380,1433,1433,1433,1433,1433,1433,1433
SD,406,405,406,406,406,406,406,406,406
TN,3358,3321,3358,3349,3358,3358,3358,3358,3358
TX,3980,3972,3980,3980,3980,3980,3980,3980,3980
UT,1003,1001,1003,1003,1003,1003,1003,1003,1003
VA,3916,3904,3916,3916,3916,3916,3916,3916,3916
VT,325,321,325,325,325,325,325,325,325
WA,4069,4051,4069,4060,4069,4069,4069,4069,4069
WI,974,971,974,974,974,974,974,974,974
WV,639,637,639,639,639,639,639,639,639
WY,95,95,95,95,95,95,95,95,95

In [7]:
states = ml["STATE"].value_counts().to_frame().reset_index()
states.columns
states

   index  STATE
0     CA  21589
1     NJ   9808
2     NY   9694
3     MI   7700
4     MA   6477
5     OH   5275
6     WA   4069
7     TX   3980
8     VA   3916
9     AZ   3700
10    TN   3358
11    FL   2927
12    MN   2670
13    IL   2418
14    CT   2321
15    MD   2222
16    CO   2205
17    KY   2024
18    OR   2021
19    NC   1704
20    MO   1548
21    SC   1433
22    PA   1387
23    KS   1252
24    NV   1240
25    IN   1111
26    UT   1003
27    WI    974
28    AR    892
29    DC    869
30    ME    842
31    NB    748
32    OK    737
33    WV    639
34    ID    552
35    NH    508
36    MT    485
37    RI    467
38    GA    456
39    DE    447
40    SD    406
41    IA    398
42    ND    355
43    LA    333
44    VT    325
45    NM    276
46    AL    180
47    AK    142
48    WY     95
49    MS     72
50    GM      5

In [6]:
fig = go.Figure(data=go.Choropleth(
    locations=states['index'], # Spatial coordinates
    z = states['STATE'].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = 'Reds',
    colorbar_title = "Number of Hate Crime",
    text=df['text']
))

fig.update_layout(
    title_text = 'Hate Crime Frequency by State',
    geo_scope='usa', # limite map scope to USA
)

fig.show()

NameError: name 'df' is not defined

In [ ]:
anti_race = ml[ml.get("BIAS MOTIVATION") == "Anti-Race"]

In [ ]:
states_race = anti_race["STATE"].value_counts().to_frame().reset_index()
states_race.columns

In [ ]:
fig = go.Figure(data=go.Choropleth(
    locations=states_race['index'], # Spatial coordinates
    z = states_race['STATE'].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = 'Reds',
    colorbar_title = "Number of Hate Crime",
))

fig.update_layout(
    title_text = 'Anti-Race Hate Crime Frequency by State',
    geo_scope='usa', # limite map scope to USA
)

fig.show()